@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 
 /*!
 * 2023-05-01
 * 클립다운 PC Webview / Popup 공통 UI
 * 클립다운 PC WebPage Background : 다크버전
 * 클립다운 PC 공통 Popup Content Background : 화이트버전 
 * Copyright ⓒ J’SFUTURE corp. All Rights Reserved.
*/

/* rest */ 
*, ::after, ::before{box-sizing: border-box;}
:root{font-size:62.5%; /* font-size:10px; */}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0; 
	padding:0; 
	border: 0; 
	font-weight: inherit;
	font-style: inherit;
	font-size:100%; 
	font-family: inherit;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display:block;} /* HTML5 display-role reset for older browsers */
audio, canvas, progress, video {display: inline-block; vertical-align: baseline;}
div,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,p,th,td,input,textarea,select,button,pre,a{font-family:'Malgun Gothic', 'Poppins', Noto Sans KR, Helvetica, sans-serif; font-size:1.3rem; font-size:13px; line-height: 1.3; color:#20222B;}
html, body{width: 100%; height: 100%;}
html{-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body{overflow-x: hidden; overflow-y: auto; -ms-overflow-style:none; -webkit-font-smoothing: antialiased;}
textarea{width:100%; resize: none;} 
select, input, img, button{vertical-align:middle;}
button{border: 0; background: transparent; cursor: pointer;}
ol, ul, li{list-style-type:none;}
legend, hr, caption span {position:absolute; left:-3000%;}
em, address{font-style:normal;}
table{border-collapse:collapse; border-spacing:0;}
table caption, legend{top:-9999px; text-indent: -9999px; font-size: 0; line-height: 0;}
a{background-color: transparent; color:#666; text-decoration:none; -webkit-text-decoration-skip:object;}
a:hover{color: #333;}
fieldset, iframe, img, button{border:0;}
textarea,input[type="file"],input[type="password"],input[type="text"]{text-indent:4px; border:1px solid #ddd;}
select{padding:0 0 0 5px; height:28px; border:1px solid #e5e5e5;}
select{-webkit-appearance: normal; -moz-appearance: normal; appearance: normal; height:28px \0IE8;} /* IE8 전용*/
select::-ms-expand{ display: none;}
select:focus, textarea:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="text"]:focus {outline: 1px solid #666; outline-offset: -1px;}
textarea[readonly="readonly"],button[readonly="readonly"],select[readonly="readonly"],input[readonly="readonly"], 
textarea[disabled="disabled"],button[disabled="disabled"],select[disabled="disabled"],input[disabled="disabled"]{background:#f5f5f5; border-color:#d4d4d4;}
input[type=text]::-ms-clear {display: none;}
input[type="file"]{width:100%;}
input[type="radio"]{vertical-align:text-bottom;}
input::placeholder{font-size:12px; font-size:1.2rem; color:#aaa;}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px transparent inset ; -webkit-text-fill-color: #666; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }
img{max-width:100%; width:100%; height:auto;} /* 모바일에서 이미지 선명도 - 노출되는 이미지 사이즈 2배크기의 원본이미지 적용 <img src='img.png' alt='' style='width:원본사이즈 1/2 사이즈 기재' />   */
svg{max-width: 100%; width: 100%; user-select : none;}
:focus{outline: 0;}


/* Common */
.text-block{display:block;}
.ellipsis{overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.ellipsis-block{display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.5; letter-spacing: -.3px;}
.hide{display:none;}
.hidden{position: absolute; left: 0; top: -9999px;}
.clear{zoom:1; clear:both;}
.clear:after{content:" "; display:block; clear:both;}
.skip{position:absolute; left:0; top:-100px; z-index:1000; width:100%; height:60px; line-height:60px; text-align:center; font-size:20px; color:#fff; transition:all 0.5s; background:#666;}
.skip:focus{top:0;}

/* Responsive Layout Column Grid  */
.row {position: relative; overflow: hidden; margin-left: -20px; margin-right: -20px;}
.row [class*="col-"]{position: relative; float: left; min-height: 1px; padding-left: 20px; padding-right: 20px;}
.col-xs-12{width: 100%;}
.col-xs-11 {width: 91.67%;}
.col-xs-10 {width: 83.33%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.67%;}
.col-xs-7 {width: 58.33%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66%;}
.col-xs-4 {width: 33.33%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.67%;}
.col-xs-1 {width: 8.33%;}

@media (min-width: 768px) {
	.col-sm-12 {width: 100%;}
	.col-sm-11 {width: 91.67%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.67%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.67%;}
	.col-sm-1 {width: 8.33%;}
}
@media (min-width: 992px) {
	.col-md-12 {width: 100%;}
	.col-md-11 {width: 91.67%;}
	.col-md-10 {width: 83.33%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.67%;}
	.col-md-7 {width: 58.33%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.66%;}
	.col-md-4 {width: 33.33%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.67%;}
	.col-md-1 {width: 8.33%;}
}
@media (min-width: 1200px) {
	.col-lg-12 {width: 100%;}
	.col-lg-11 {width: 91.67%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.67%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.67%;}
	.col-lg-1 {width: 8.33%;}
}
/* Content Columns */
.row-contents {position: relative; overflow: hidden; margin-left: -10px; margin-right: -10px;}
.row-contents:after{content: " "; display: table; clear: both;}
.row-contents [class*="col-"]{position: relative; float: left; min-height: 1px; padding-left: 10px; padding-right: 10px;}
.col-1{width: 100%;} /* 1 COLUMN */
.col-2{width: 50%;} /* 2 COLUMN , 1/2 COLUMN */
.col-3{width: 33.333%;} /* 3 COLUMN , 1/3 COLUMN */
.col-4{width: 25%;} /* 4 COLUMN , 1/4 COLUMN */
.col-5{width: 20%;} /* 5 COLUMN */
.col-6{width: 16.67%;} /* 6 COLUMN ,1/6 COLUMN */
.col-7{width: 58.33%;} /* 1/7 COLUMN */
.col-8{width: 66.66%;} /* 1/8 COLUMN , 2/3 COLUMN */
.col-9{width: 75%;} /* 1/9 COLUMN , 3/4 COLUMN */
.col-10{width: 83.33%;} /* 1/10 COLUMN , 5/6 COLUMN */
.col-11{width: 91.67%;} /* 1/11 COLUMN */
.col-12{width: 100%;} /* 1 COLUMN */
.pull-left {float: left !important;}
.pull-right {float: right !important;}
.fl-l{float:left !important;}
.fl-r{float:right !important;}

/*!
  * WebFont Weight
  * S-CoreDream
  * NanumSquare
*/
.weight-100_thin{font-weight:100;}
.weight-200_extraLight{font-weight:200;}
.weight-300_light{font-weight:300;}
.weight-400_regular{font-weight:400;}
.weight-500_medium{font-weight:500;}
.weight-600_bold{font-weight:600;}
.weight-700_extraBold{font-weight:700;}
.weight-800_heavy{font-weight:800;}
.weight-900_black{font-weight:900;}
.normal{font-weight: 400 }
.bold{font-weight: 700 }
.bolder{font-weight: 800 }
.light{font-weight: 300 }

/* Custom Style */

/* button */
.btn, a.btn{
    display: inline-block; 
    position: relative; 
    overflow: hidden; 
    min-width: 68px; 
    min-height: 28px; 
    padding: 4px 20px; 
    font-size: 13px; 
    font-size: 1.3rem; 
    font-weight: 500; 
    text-align: center; 
    vertical-align: middle; 
    border-radius:5px; 
    touch-action: manipulation; 
    -webkit-tap-highlight-color: transparent; 
    white-space: nowrap;
	cursor: pointer;
}
.btn.focus, .btn:focus, .btn:hover{outline: 0; box-shadow: none;}
a.btn:hover{text-decoration: none;}
a.disabled{pointer-events: none;}
.link-text{
    min-width: 80px;	
    min-height: 28px; 
    background:transparent; 
    color:#333; 
    font-size:13px; 
    font-size:1.3rem; 
    font-weight: 400; 
    text-align: center; 
    vertical-align: middle; 
    padding: 4px 5px; 
    text-decoration: none;
	text-underline-position: under; 
    cursor: pointer;
}
.btn-box{display:block; position:relative; vertical-align: middle;} /* single button */
.btn-group{display:inline-block; position:relative; vertical-align: middle;} /* two button */
.btn-group .btn{float: left; margin-right: 8px;}
.btn-group .btn:last-child{margin-right: 0;}
.btn-round{-moz-border-radius:30px; -webkit-border-radius: 30px; border-radius: 30px !important;}
.btn-circle{-moz-border-radius:50%; -webkit-border-radius: 50%; border-radius: 50%; min-width: 0; min-height: 0; width:36px; height:36px; padding: 0;}

/* Color */
.point-color, .point-text{color:#e21d19;}
.white-color{color:#fff;}
.defualt-color{color:#333;}
.info-color{color:#666;}

/* checkbox, radio */
.m-checkbox-list .m-checkbox:last-child, .m-radio-list .m-radio:last-child{margin-bottom: 0 !important;}
.m-checkbox-list .m-checkbox i, .m-checkbox-list .m-checkbox, .m-checkbox input:checked~span:after, .m-radio-list .m-checkbox i, .m-radio-list .m-radio, .m-radio>input:checked~span:after{display: block;}
.m-checkbox-inline, .m-radio-inline{display: inline-block;}
.m-checkbox-inline .m-checkbox, .m-radio-inline .m-radio, .m-checkbox input:checked~span:after, .m-radio>input:checked~span:after{display: inline-block; margin-right: 15px; margin-bottom: 5px;}
.m-checkbox-inline .m-checkbox:last-child, .m-checkbox-inline .m-radio:last-child{margin-right: 0;}
.m-checkbox, .m-radio{display: inline-block; position: relative; margin-bottom: 13px; padding-left: 25px; font-size: 13px; font-size: 1.3rem; font-weight: 400; line-height: 1.5; cursor: pointer;}
.m-checkbox input, .m-radio input{position: absolute; z-index: -1; top:2px; left: 0; width:16px; height:16px; margin: 0; opacity: 0; filter: alpha(opacity = 0);}
.m-checkbox span, .m-radio span{position: absolute; top: 2px; left: 0; width: 16px; height: 16px; border: 1px solid #c9caca; background: #fff;}
.m-checkbox-disabled, .m-checkbox input[disabled]~span, .m-checkbox input:checked[disabled]~span, .m-radio-disabled, .m-radio input[disabled]~span, .m-radio input:checked[disabled]~span{opacity: .5; cursor: default; filter: alpha(opacity = 50);}
.m-checkbox span:after, .m-radio span:after{display: block; position: absolute; content: '';}
.m-checkbox span:after{top: 1px; left: 5px; width: 5px; height: 10px; border: solid #3b393a; border-width: 0 2px 2px 0; transform: rotate(45deg);}
.m-radio span{border-radius: 50% !important; -o-border-radius: 50% !important; -ms-border-radius: 50% !important;}
.m-radio span:after{top: 4px; left: 4px; width: 6px; height: 6px; border-radius: 100% !important; background: #6e6e6e;}
.m-checkbox .form-control, .m-radio .form-control{position: relative; z-index: 1; opacity: 1; filter: alpha(opacity = 100);}
.m-inputbox span{top: 6px;}
.m-1depth-list .m-checkbox{margin-bottom:20px;}
.m-1depth-list .m-checkbox input{top:3px; left:1px;}
.m-1depth-list .checkbox-2depth{padding:5px 0 0;}
.m-1depth-list .checkbox-2depth .m-checkbox{margin-bottom:5px;}
.radio_lg{font-size: 16px; font-size: 1.6rem;}
.radio_lg span{top: 3px; width: 18px; height: 18px;}
.radio_lg span:after{top: 4px; left: 4px; width: 8px; height: 8px;}

.btn_box_top{position: absolute; top: -20px; right: 10px; }
.btn_box_top .btn_popup_close{display: inline-block; vertical-align: middle; background:transparent; width: 13px; height: 13px; padding:0;}
.btn_box_top .btn_popup_close:focus{outline:0;}
.btn_box_top .btn_popup_close .btn_close{display: inline-block; position: relative; overflow: hidden; width: 13px; height: 13px; opacity: 1;}
.btn_box_top .btn_popup_close .icon-close:before, .btn_box_top .btn_popup_close .icon-close:after{content: ''; position: absolute; width: 100%; height:1px; top:50%; right:0; background:#fff;}
.btn_box_top .btn_popup_close .icon-close:before{-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.btn_box_top .btn_popup_close .icon-close:after{-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg)}






