@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 
    * 2023-04-28~ 
    * 공통 캐시메이트 스타일
    * PC프로그램 webview 컨텐츠 영역 background Dark Style
    * Popup : [web/app] 컨텐츠 영역 background White Style

*/

/* Custom layout */
div, dl, dt, dd, h1, h2, h3, h4, h5, h6, 
form, fieldset, p, th, td, input, textarea, 
select, button, pre, a {font-family:'Malgun Gothic', 'Poppins', Helvetica, sans-serif; font-size:13px; font-size:1.3rem; line-height: 1.3; color:#333;}
.wrap{position: relative; width: 100%; height: 100%;}
.container{position: relative; width: 100%; max-width: 780px; margin: 0 auto; padding: 0;}
.container:after{content:" "; display:block; clear:both;}

/* Custom Style */
svg{max-width: 100%; width: 100%; height: 100%;}
.font_en{font-family: 'Poppins' Helvetica, sans-serif;;}
.head-title{text-align: center; padding: 40px 0;}
.head-title h1{font-size:42px; font-size:4.2rem; font-weight: 500;}
.notify_badge{display:inline-block; position:relative; min-width: 10px; top:-15px; right: 5px; background-color: #e21d19; font-family: 'Poppins', sans-serif; font-size:10px; font-weight: 700; color:#fff; text-align:center; white-space: nowrap; border-radius: 10px; padding: 0 6px;}
.icon_arrow_right{display: inline-block; position: relative; vertical-align: middle; width: 0; height: 0; border-color: transparent transparent transparent #ddd; border-style: solid; border-width: 5px 0 5px 7px;}
.webview_cashmate .list_scroll::-webkit-scrollbar{width: 8px; height: 8px; background: #f7f7f7;}
.webview_cashmate .list_scroll::-webkit-scrollbar-thumb{border-radius: 3.5px; background-color: #ddd;}
.webview_cashmate .list_scroll::-webkit-scrollbar-track{background: #f7f7f7;}

/* webview popup info style */
.webview_info .inner{position: relative; max-width: 390px; width: 100%; height:100%; margin: 0 auto;}
.webview_box{width: 100%; height: 100%; text-align: center; padding: 30px 30px;}
.webview_box .btn_defualt{background: #fff; border: 1px solid #f7f7f7;}
.webview_info .webview_box .content_info_message{position: absolute; top:50%; left:50%; width: 100%; transform: translate(-50%, -50%);}
.content_info_message .title_message{padding-bottom: 15px;}
.content_info_message .title_message h1{font-size: 14px; font-size: 1.4rem; font-weight: 600;}
.content_info_message .text_message p{font-size: 14px; font-size: 1.4rem; line-height: 1.6; padding-bottom: 15px;}
.content_info_message .guide_text{font-size: 12px; font-size: 1.2rem; color: #757575; padding-top: 5px;}
.content_info_message .btn_area{position: relative; width: 100%; text-align: center; padding-top: 30px;}
.content_info_message .btn_area .btn_wv_info{font-family: 'Roboto', sans-serif; color:#757575; font-size: 14px; font-size: 1.4rem; font-weight: 500; text-align: center;}
.content_info_message .btn_area .btn_login_google{font-family: 'Roboto', sans-serif; width: 190px; background: #fff url("../images/icon_login_google.png") no-repeat 1rem 50%; background-size: 18px auto; padding: 10px 10px 10px 40px; border-top: 1px solid #f8f8f8; border-radius: 3px; -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 28%); box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 28%);}
.content_info_message .btn_area .btn_login_google:hover{background-color: #eee;}
.content_info_message .btn_area .btn_avs{background:#fff; border:1px solid #e21d19; color:#e21d19; padding: 10px 10px 10px 10px;}
.content_info_message .btn_area .btn_avs:hover{background-color: #e21d19; color:#fff;}

/* popup style */
.layer_popup .popup_style_plus{border: 1px solid #e21d19; }
.layer_popup .popup_style_plus .popup_header .header-title .sub-title small{font-size: 13px; font-size: 1.3rem; font-weight: 300;}
.layer_popup .popup_style_plus .popup_content{position: relative; max-width:320px; margin: 0 auto;}
.layer_popup .popup_content .plus_function{text-align: left; margin-bottom: 40px;}
.layer_popup .popup_content .plus_function li{font-size: 15px; font-size:1.5rem; border:1px solid #E6E6E6; border-radius: 8px; margin-bottom: 20px; padding: 14px 14px; box-shadow:0px 2px 6px -3px rgba(0,0,0,0.3)}
.layer_popup .popup_content .plus_function li .icon_plus{float: left; width: 2.0rem; height: 2.0rem; vertical-align: middle; margin-right: 10px;}
.layer_popup .popup_content .plus_function li .icon_plus svg{width: 2.0rem; height: 2.0rem;}
.layer_popup .popup_content .plus_function li .text_icon{display: block; position: relative; overflow: hidden; top:1px;}

/* radio button images */
.content-item .content-title{font-size: 16px; font-size:1.6rem; font-weight: 500; text-align: left;}
.form{display: grid; grid-template-columns: 48% 48%; grid-column-gap: 4%; margin: 20px 0 30px 0;}
.item_method{width: 15rem; height: 15rem;}
.item_method .btn_radio {display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 100%; background: #fff; color: #333; font-size: 14px; font-size:1.4rem; font-weight: 400; text-align: center; border: 1px solid #ddd; border-radius: 5px; padding: 12px 12px; cursor: pointer;}
.item_method input[type="radio"] {display: none;}
.item_method input[type="radio"]:checked + .btn_radio {color: #e21d19; border: 3px solid #e21d19; padding: 10px 10px;}
.item_method .item_text{padding: 10px 0 0;}

/* webview style join-info */
.webview_box.sytle_join-info{height: unset;}
.sytle_join-info .contet-header{padding: 15px 0;}
.sytle_join-info .contet-header h1{font-size: 24px; font-size: 2.4rem; font-weight: 700;}
.sytle_join-info .contet-header h1 .text_en{position: relative; vertical-align: middle; font-size: 27px; font-size: 2.7rem;}
.sytle_join-info .contents{padding: 15px 0;}
.sytle_join-info .contents .info_contet{font-weight: 500; text-align: center; line-height: 1.6;}
.sytle_join-info .list_info-feature{background: #f8f8f8; border-radius: 10px; margin: 30px 0; padding: 10px 10px;}
.sytle_join-info .list_info-feature ul{position: relative;}
.sytle_join-info .list_info-feature ul .list_item{display: inline-block; padding:0 5px;}
.sytle_join-info .list_info-feature ul .list_item .text_img{position: relative; overflow: hidden; width: 100%; max-width: 80px; height: 80px; background: #fff; border-radius: 50%; margin: 0 auto;}
.sytle_join-info .list_info-feature ul .list_item .text_img.icon_size svg{max-width: 60px;}
.sytle_join-info .list_info-feature ul .list_item .item_text{font-size:13px; font-size: 1.3rem; font-weight: 500; padding: 10px 0;}
.sytle_join-info .btn_point_full{width: 100%; background: #e21d19; color:#fff; font-size:16px; font-size: 1.6rem; padding: 12px 20px;}
.sytle_join-info .btn_point_full:hover{background: #de0e0a;}
.webview_box.sytle_join-info_img{height: unset;}
.webview_item_img{height: unset; padding: 30px 0 0; background: #FFEFF0;}
.webview_item_img .contents{padding-bottom: 20px;}
.webview_item_img .btn_box .btn_full_clipdonwplus{display: block; width: 100%; background: #F24028; color: #fff; font-size:20px; font-size:2.0rem; font-weight: 500; padding: 15px 20px;}
.webview_item_img .btn_box .btn_full_clipdonwplus:hover{background: #e21d19; text-decoration: none;}


/* 
    * 2023-05-10
    * Web 마이페이지 / 캐시메이트 
    * 공통 UI 스타일
    * 클립다운PC : dark 스타일

*/
.section_mypage, .section_errorpage {min-height: 630px;}

/* custom style */
.font_num{font-family: 'Poppins', Malgun Gothic, sans-serif; font-weight: 500;}
.section{position: relative; overflow: hidden; padding: 0 20px;}
.section .header_title{position: relative; border-bottom: 1px solid #ddd; padding: 20px 0 10px 0;}
.section .header_title h1{font-size: 16px; font-size: 1.6rem; font-weight: 600; line-height: 2; padding: 0 20px;}
.section .header_title h1 .summary{font-size: 13px; font-size: 1.3rem; font-weight: 400;}
.section .list_content{margin: 20px 0;}

.guide_noti_box{background: #f7f7f7; padding: 10px 10px; margin-bottom: 10px;}
.guide_noti_box .icon_noti{display: inline-block; padding-right: 5px;}
.guide_noti_box .noti_text{font-weight: 600; vertical-align: middle;}
.form_list{width: 100%; height: 308px; overflow-y: auto ;}  
.m-radio>input span{border: 1px solid #bdbdc0; background: #fff;}
.m-radio span:after{background: #bdbdc0;}
.m-radio>input:checked~span{border: 1px solid #e21d19; background: #fff;}
.m-radio>input:checked~span:after{background: #e21d19;}
.img_round{position: relative; overflow: hidden; border-radius: 50% !important;}

/* Point Badge Style */
.badge_point{display: inline-block; position: relative; min-width: 78px; height: 32px; background: #e21d19; color: #fff; text-align: center; line-height: 1.5; border-radius: 30px; padding: 4px 4px 4px 29px; -webkit-touch-callout: none; user-select: none;}
.badge_point .icon_point{position: absolute; top:6px; left: 4px; width: 20px; height: 20px; background: #fff; color: #e21d19;  font-size: 14px; font-size: 1.4rem; font-weight: 700; line-height: 1; border-radius:50%; padding: 3px 4px;}
.badge_point .point_data{font-weight: 700; line-height: 2; padding: 0 6px 0 0;}

/* Button Style */
.btn_default{background: #fff; border: 1px solid #333; color: #333;}
.btn_default:hover{background: #333; border: 1px solid #333; color: #fff;}
.btn_dark{background: #333; border: 1px solid #333; color: #fff;}
.btn_dark:hover{background: #20222B; border: 1px solid #20222B; color: #fff;}
.btn_point{background: #e21d19; border: 1px solid #e21d19; color: #fff;}
.btn_point:hover{background: #d22619; border: 1px solid #d22619; color: #fff;}
.btn_outline_point{background: #fff; border: 1px solid #e21d19; color: #e21d19;}
.btn_outline_point:hover{background: #e21d19; border: 1px solid #e21d19; color: #fff;}
.btn_full_gray{background: #a7a7a7; border: 1px solid #a7a7a7; color: #fff;}
.btn_block{display: block; width: 100%;}
.btn_md{font-size: 13px; font-size: 1.3rem; line-height: 1.7; padding: 4px 20px;}
.btn_lg{ font-size: 13px; font-size: 1.3rem; line-height: 2;  padding: 5px 20px;}
.btn_action{text-align: center; margin: 0; border-top: 1px solid #ddd; padding: 20px 0; margin-top: 20px;}
.btn_area{margin: 20px 0 10px;}
.btn_action .btn, .btn_area .btn{min-width: 110px; font-weight: 600; border-radius: 50px;}


/* Tabs Multi */
.tabs_multi{display: block; position: relative; overflow: hidden; margin: 20px 0;}
.tabs{position: relative; width: 100%; float: left; margin-bottom: 20px;}
.tabs.tabs_nav{border-bottom: 1px solid #e7e7e7;}
.tabs.tabs_nav li{display: block; position: relative; overflow: hidden; width: auto; float: left; color: #9fa0a0; font-size: 15px; font-size: 1.5rem; font-weight: 600; line-height: 1.5; text-align: center; border: 1px solid transparent; padding: 10px 25px; margin-bottom: -1px; cursor: pointer; }
.tabs.tabs_nav li.active{background: transparent; color: #333; border-bottom: 1px solid #333;}
.tab_container {position: relative; width: 100%; clear: both; float: left;}
.tab_content {position: relative;}
.tab_content .content-item {margin: 10px 0; margin-bottom: 50px;}
.tabs_multi .sub_tabs_nav {width: 100%; border: 0; border-bottom: 2px solid #e7e7e7;}
.tabs_multi .sub_tabs_box{display: block; position: relative; overflow: hidden;}
.tabs_multi .sub_tabs_box .sub_tabs_nav li {display: block; position: relative; overflow: hidden; width: 50%; float: left; color: #9fa0a0; font-size: 13px; font-size: 1.3rem; font-weight: 400; line-height: 2; text-align: center; border-bottom: 2px solid transparent; padding: 10px 0; margin-bottom: -2px; cursor: pointer;}
.tabs_multi .sub_tabs_box .sub_tabs_nav li.active {color: #333; border-bottom: 2px solid #333; font-weight: 600; cursor: default;}
.tabs_multi .sub_tabs_box .sub_tabs_nav .divi {display: inline-block; position: relative; top: -1px; width: 3px; height: 3px; background: #c9caca; border-radius: 50%; vertical-align: middle; margin: 0 10px;}
.tabs_multi .sub_tabs_box .sub_tabs_nav li:last-of-type .divi {width: 0; height: 0;}
.sub_content{padding-top: 10px;}

.form_table_group{}
.table_style{width: 100%;}
.board_list tbody{background: transparent; border-top: 1px solid transparent; border-bottom: #F7F7F7;}
.board_list tbody tr td{font-size: 13px; font-size: 1.3rem; font-weight: 400; line-height: 1.5; vertical-align: middle; border-bottom: 1px solid #F7F7F7; padding: 10px 10px;}
.board_list tbody tr:last-child td {border-bottom: 0;}
.board_list tbody td.date{width: 12%; text-align: left; font-weight: 400;}
.board_list tbody td.product{max-width: 220px; text-align: right;}
.board_list tbody td.product .point{font-weight: 700; padding: 5px 0;}
.board_list tbody td.product .point_save{color: #e21d19;}

/* option filter style */
.content_option{position: relative; overflow: hidden; width: 100%; text-align: right; padding: 10px 0;}
.content_option .filter_date{display: inline-block;}
.filter_date input[type=radio]{display: none; margin: 10px 10px;}
.filter_date input[type=radio] + label{display: inline-block; position: relative; background: transparent; border: 1px solid #ddd; color: #666; font-size: 11px; font-size: 1.1rem; border-radius: 7px; padding: 4px 12px 5px; cursor: pointer;}
.filter_date input[type=radio]:checked + label{background: #666; border: 1px solid #666; color: #fff; z-index: 1;}
/* list empty style */
.list_item.empty{display: block !important; border-bottom: 1px solid transparent !important;}  /* ul 리스트 스타일 일때 적용 */
.content_empty{padding: 0 !important;}
.content_empty .list_empty{display: table; width: 100%; height: 290px; text-align: center;}
.content_empty .list_empty span{display: table-cell; line-height: 1.5; vertical-align: middle;}

/* Custom Form Style */
.form_group{padding: 20px 0 15px 0;}
.form_group .help-block{display: block; margin: 5px 0;}
.form_group .help-text{font-size: 11px; font-size: 1.1rem; color: #666;}
.label_control{font-size: 13px; font-size: 1.3rem; font-weight: 600; line-height: 2; margin-bottom: 10px; padding: 4px 0;}
.form_control{display: inline-block; width: 100%; height: 34px; background: #fff; font-weight: 400; border: 1px solid #ddd; padding: 5px 5px;}
.input_group{margin-bottom: 10px;}
.input_group:last-child{margin-bottom: 0;}
/* .input_group .form_control{margin: 5px 0;} */
.input_group .btn_input{font-size: 11px; font-size: 1.1rem; font-weight: 600; border-radius: 0; padding: 8px 10px;}
.form_input_error{border: 1px solid #e21d19;}
.form_input_error::placeholder{color: #e21d19;}
.form_input_error:focus{outline: 0; outline-offset:0;}
.form_style .m-radio-inline{margin-bottom: 10px; line-height: 2.6;}
.textarea_style{height: 80px; overflow: auto; padding: 10px 10px;}
.item_input_file .btn_input{font-size: 11px; font-size: 1.1rem; border-radius: 0; padding: 4px 10px;}
.item_input_file .input_file{display: none;}
.item_input_file .help-text{padding-left: 10px;}

/* input-size Width*/
.input_width_xlg {width: 80% !important; min-width: 420px !important;}
.input_width_lg {width: 60% !important; min-width: 320px !important;}
.input_width_md {width: 50% !important; min-width: 200px !important;}
.input_width_sm {width: 25% !important; min-width: 145px !important;}
.input_width_xs {width: 100px !important;}

/* Pagination Style  */
.list_pagination{display: block; padding: 10px 0;}
.m_list_pagination{display: none;}
.pagination, .pagination ul {display: flex; font-family: 'Poppins', Malgun Gothic, sans-serif;}
.pagination {justify-content: center;}
.pagination li {position: relative; margin: .2rem;}
.pagination a {display: block; color: #9fa0a0; background: #fff; border: 1px solid #fff; font-size: 13px;font-size: 1.3rem; text-align: center; text-decoration: none; padding: 5px 3px;}
.pagination a:hover {border: 1px solid #fff; color: #333; font-weight: 700;}
.pagination li.active a {background: #fff; border: 1px solid #fff; color: #333; font-weight: 700;}
.pagination .pages li a {width: 28px; height: 28px;}
.pagination .previous li a, .pagination .next li a {height: 28px; padding: 5px 8px;}

@media screen and (max-width: 640px){
    .list_pagination{display: none;}
    .m_list_pagination{display: block;}  
    .loader {display: block; margin: 0 auto; width: 24px; height: 24px; animation: loader_animate 2s linear infinite;}      
    .loader circle {stroke-width: 4px; stroke-dasharray: 1, 150; stroke-dashoffset: 0; stroke-linecap: round; animation: stroke_animate 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite; stroke: #efefef;}
    .content_infinite_scroll {/* We need to limit the height and show a scrollbar   height: 100vh;overflow-y: auto;*/}     
    .infinite_scroll {height: 24px; margin-top: 1rem;}
    .infinite_scroll .loader {opacity: 0;}
    .infinite_scroll.active .loader {opacity: 1;}    
}

/* Page Loaing */
.page_loading .bg_load{position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);  width: 48px; height: 48px; border-radius: 50%; background: #000; opacity: 0.5;}
.page_loading .layer_al_c{position: absolute; top:50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; text-align: center; z-index: 5001;}
.page_loading .loader{display: block; margin: 0 auto; width: 36px; height: 36px; animation: loader_animate 2s linear infinite; }
.page_loading .loader circle{stroke-width: 4px; stroke-dasharray: 1, 150; stroke-dashoffset: 0; stroke-linecap: round; animation: stroke_animate 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite; stroke: #fff;}
.loading_text{display: inline-block; background: rgb(0 0 0 / 75%); border-radius: 3px; text-align: left; width: 226px; padding: 5px 20px 8px 20px;}
.loading_text .load_text{position: relative; color: #fff; font-size: 13px; font-weight: 600; vertical-align: middle; letter-spacing: -1px;}
.loading_text .ani_loader{display: inline-block; overflow: hidden; vertical-align: bottom; animation:extend 1s steps(5, end) infinite;}
.loading_text .ani_loader:before{content: '...'; color: #fff; font-size: 16px; font-weight: 600;}

/* Animation Style */
@keyframes loader_animate {
    100% {
    transform: rotate(360deg);
    }
}
@keyframes stroke_animate {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes extend {
    0% {
      width: 0.25em;
    }
    100% {
      width: 1em;
    }
  }


/* error page */
.section_error{overflow: inherit; height: 100vh;}
.section_error .content_error{position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center;}
.section_error .content_error .img_error{margin-bottom: 20px;}
.section_error .content_error .img_error img{max-width: 236px;}
.section_error .content_error .text_content{padding: 20px 0;}
.section_error .content_error .text_content p{font-size: 15px; font-size: 1.5rem; font-weight: 600; line-height: 1.6; padding-bottom: 10px; color: #333;}
.section_error .content_error .btn_area{margin-top: -10px; margin-bottom: 10px; }
.webview_cashmate.dark .content_error .text_content p{color: #fff;}
@media screen and (max-width: 320px){
    .section_error .content_error{padding: 0 10px;}
    .section_error .content_error .text_content p{font-size: 13px; font-size: 1.3rem;}
}


/* point page */
.section_point .guide_noti_box{margin-bottom: 0;}
.content_reward_ad .category_menu{display: inline-block; width: 100%; position: relative; background: #f7f7f7; vertical-align: top; padding: 10px 10px;}
.content_reward_ad .category_menu .list_item{display: inline-block; position: relative; vertical-align: top; padding-bottom:5px; margin-right: 3px;}
.content_reward_ad .category_menu .list_item a{display: block; position: relative; background: #fff; border: 1px solid #ddd; border-radius: 30px; font-weight: 600; vertical-align: middle; padding: 6px 15px;}
.content_reward_ad .category_menu .list_item a.active{background: #272936; border: 1px solid #272936; color: #fff;}
.content_reward_ad .category_menu .list_item a:hover{border: 1px solid #272936;}
.content_reward_ad .product_list .info_product .info_sub_title{display: inline-block; font-size: 11px; font-size: 1.1rem;}
.content_reward_ad .product_list .info_product .info_title{font-size: 13px; font-size: 1.3rem !important; margin-bottom: 5px;}
.content_reward_ad .product_list .product_price{position: relative; padding: 5px 0;}
.content_reward_ad .product_list .product_price .badge_price{display: inline-block; position: relative; width: 18px; height: 18px; background: #e21d19; color: #fff; font-size: 13px; font-size: 1.3rem; font-weight: 700; vertical-align: middle; border-radius: 50%; padding: 2px 5px; -webkit-touch-callout: none; user-select: none;}
.content_reward_ad .product_list .product_price .price{position: relative; font-size: 15px; font-size: 1.5rem; vertical-align: middle;}
.content_reward_ad .content_list{width: 100%; height: 379px; overflow-y: auto; margin-top:20px}
.content_reward_ad .content_list .list_item{display: flex; align-items: center; border-bottom: 1px solid #f7f7f7; padding: 10px 10px;} 
.content_reward_ad .content_list .list_item a{display: flex; flex: 1; align-items: center;}
.content_reward_ad .content_list .list_item .img_box{position: relative; overflow: hidden; width: 68px; min-width: 68px; height: 68px; border-radius: 6px; margin-right: 15px; background: #E6E6E6;}
.content_reward_ad .content_list .list_item .info_product {margin-right: 15px;}
.content_reward_ad .content_list .list_item .info_product .info_title{font-size: 15px; font-size: 1.5rem; font-weight: 600;}
.content_reward_ad .content_list .list_item .info_product .info_summary{margin: 5px 0;}
.content_reward_ad .content_list .list_item .item_right{margin-left: auto;}

/* event Page */
.content_event .content_list{margin: 20px 0 0;}
.content_event .item_event{margin-bottom: 20px;}
.content_event .item_event .event_date{display: block; font-size: 13px; font-size: 1.3rem; font-weight: 600; margin-bottom: 10px;}
.content_event .item_event .card_event{display: flex; align-items: center; background: #fff; border: 1px solid #ddd; border-radius: 10px; padding: 20px 20px;} 
.content_event .item_event .card_event .link_card{display: flex; flex: 1; align-items: center;}
.content_event .item_event .card_event .event_title{flex-grow: 1; padding-right: 20px;}
.content_event .item_event .card_event .event_title h3{font-size: 15px; font-size: 1.5rem; line-height: 1.5; font-weight: 600;}
.content_event .item_event .card_event .event_title .event_desc{display: block; font-size: 11px; font-size: 1.1rem; font-weight: 400; color: #666; padding-top: 5px;}
.content_event .item_event .card_event .event_img{flex-shrink: 0; width: 88px; height: 88px; margin-left: auto;}
.content_event .item_event .event_date span, .content_event .item_event .card_event .event_title h3 span{font-weight: 600;}
@media screen and (max-width: 600px){
    .content_list .row-contents .col-2{width: 100%;}
}
/* event detailView invite style */
.section_event{padding: 0;}
.section_event .content .inner{position: relative; width: 100%; max-width: 500px; margin: 0 auto;}
.section_event .content_top{position: relative; background: #102521;}
.section_event .content_top .btn_area{position: absolute; width: 100%; left: 0; bottom: 30%; text-align: center;}
.section_event .content_top .btn_area .btn_event_invite{width: 36%; background: #102521; color: #FED849; font-size: 15px; font-size: 1.5rem; border: 2px solid #FED849; border-radius: 5px; padding: 10px 20px;}
.section_event .content_top .btn_area .btn_event_invite:hover{background: #FED849; color: #102521;}
.section_event .content_middle{position: relative; background: #fff; text-align: center; padding: 0 20px;}
.section_event .content_middle .content_title{position: relative; padding: 60px 0 40px; text-align: center;}
.section_event .content_middle .content_title h1{font-size: 28px; font-size: 2.8rem; font-weight: 600; letter-spacing: -1px;}
.section_event .content_middle .content_box{position: relative; width: 100%; margin-bottom: 40px;}
.section_event .content_box .item_title{text-align: left; border-bottom: 2px dotted #ddd; padding: 20px 0 10px;}
.section_event .content_box .item_title h3{font-size: 18px; font-size: 1.8rem; font-weight: 600; letter-spacing: -1px;}
.section_event .content_box .content_item{padding: 20px 0;}
.section_event .content_box .content_item .content_text{padding-bottom: 10px;}
.section_event .input_group.event, .section_event .input_group{display: table; position: relative; width: 100%; border-collapse: separate;}
.section_event .input_group.event .form_input{width: 60%; min-width: 100px; border: 1px solid #666;}
.section_event .input_group.event .btn_input{width: 20%; height: 34px; font-size: 12px; font-size: 1.2rem; margin-left: 5px; }
.section_event .btn_group{padding: 20px 0;}
.section_event .btn_group .btn{width: 40%; margin: 0 5px;}
.section_event .help-text{display: block; padding: 5px; font-size: 11px; font-size: 1.1rem;}
@media screen and (max-width: 480px){
    .section_event .content_top .btn_area{bottom: 28%;}
    .section_event .content_top .btn_area .btn_event_invite{width: 36%; font-size: 13px; font-size: 1.3rem; padding: 3px 10px;}
    .section_event .btn_group .btn{width: 100%; margin-bottom: 10px;}
    .section_event .content_middle .content_box{margin-bottom: 20px}
    .section_event .content_middle .content_title h1{font-size: 22px; font-size: 2.2rem;}
    .section_event .content_box .item_title{ border-bottom: 2px dotted #ddd; padding: 20px 0 10px;}
    .section_event .content_box .item_title h3{font-size: 15px; font-size: 1.5rem;}
    
}

/* inquiry Page */
.content_inquiry{position: relative;}
.content_inquiry .inner_content{position: relative; max-width: 640px; margin: 0 auto;}
.content_inquiry .content_item{position: relative;}
.content_inquiry .content_item.item_box{position: relative; margin: 40px 0;}
.content_inquiry .content_item:last-child{margin-bottom: 0;}
.content_inquiry .content_item .list_title{padding-bottom: 10px;}
.content_inquiry .content_item .list_title h3{font-size: 15px; font-size: 1.5rem; font-weight: 600;}
.content_inquiry .content_item .content_list .list_item {background: #fff; border: 1px solid #ddd; margin-bottom: 10px;}
.content_inquiry .content_item .content_list .list_item:hover{border: 1px solid #9fa0a0;}
.content_inquiry .content_item .content_list .list_item:last-child{margin-bottom: 0;}
.content_inquiry .content_item .content_list .list_item a{display: block; position: relative; padding: 10px 20px; }
.content_inquiry .content_item .content_list .list_item .icon_arrow_right{float: right; margin: 3px 5px;}
.content_inquiry .content_item .content_list .info_box .list_item{padding: 20px 20px;}
.content_inquiry .content_item .content_list .info_box .list_item:hover{border: 1px solid #ddd;}
.content_inquiry .content_item .content_list .info_box .info_text{line-height: 1.5; padding-bottom: 30px;}
.content_inquiry .content_item .content_list .info_box .info_text:last-child{padding-bottom: 0;}
.content_inquiry .content_item .textarea_style{height: 150px;}

/* 클립다운 PC Web Dark Style */
.webview_cashmate.dark div{color: #fff;}
.webview_cashmate.dark{background: #20222B;}
.webview_cashmate.dark .section .contents{display: block;}
.webview_cashmate.dark .section .header_title{border-bottom: 1px solid #333542;}
.webview_cashmate.dark .section .header_title h1{color: #fff;}
.webview_cashmate.dark .section .header_title h1 .summary{color: #9E9EA5;}
.webview_cashmate.dark .tabs.tabs_nav{border-bottom: 1px solid #464756;}
.webview_cashmate.dark .tabs.tabs_nav li.active{color: #fff; border-bottom: 1px solid #fff;}
.webview_cashmate.dark .tabs.sub_tabs_nav{border-bottom: 2px solid #9fa0a0;}
.webview_cashmate.dark .tabs_multi .sub_tabs_box .sub_tabs_nav li.active{color: #fff; border-bottom: 1px solid #fff;}
.webview_cashmate.dark .filter_date input[type=radio] + label{color: #9E9EA5; border: 1px solid #414450;}
.webview_cashmate.dark .filter_date input[type=radio]:checked + label{background: #20222B; color: #fff; border: 1px solid #F7F7F7;}
.webview_cashmate.dark .board_list tbody tr td{color: #fff; border-bottom: 1px solid #333542;}
.webview_cashmate.dark .pagination a{color: #9E9EA5; background-color: #20222B; border: 1px solid #20222B;}
.webview_cashmate.dark .pagination li.active a{color: #fff;}
.webview_cashmate.dark .guide_noti_box{background: #333542; color: #fff;}
.webview_cashmate.dark .form_control{background: #20222B; color: #fff; border: 1px solid #414450;}
.webview_cashmate.dark .form_group .help-text{color: #9E9EA5;}
.webview_cashmate.dark input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #20222B inset ; -webkit-text-fill-color: #fff; }
.webview_cashmate.dark .m-checkbox span, .webview_cashmate.dark .m-radio span, .webview_cashmate.dark .m-radio>input:checked~span{background: #20222B;}
.webview_cashmate.dark .btn_action{border-top: 1px solid #414450;}
.webview_cashmate.dark .btn_default{background: #272936; border: 1px solid #464756; color: #fff;}
.webview_cashmate.dark .btn_default:hover{background: #20222B; border: 1px solid #9E9EA5; color: #fff;}
.webview_cashmate.dark .btn_outline_point{background: #272936; border: 1px solid #e21d19; color: #e21d19;}
.webview_cashmate.dark .btn_outline_point:hover{background: #20222B; border: 1px solid #e21d19; color: #e21d19;}
.webview_cashmate.dark .btn_full_gray{background: #a7a7a7; border: 1px solid #a7a7a7; color: #fff;}
.webview_cashmate.dark .list_scroll::-webkit-scrollbar{width: 8px; height: 8px; background: #272936;}
.webview_cashmate.dark .list_scroll::-webkit-scrollbar-thumb{border-radius: 3.5px; background-color: #9E9EA5;}
.webview_cashmate.dark .list_scroll::-webkit-scrollbar-track{background: #272936;}
.webview_cashmate.dark .content_reward_ad .category_menu{background: #333542;}
.webview_cashmate.dark .content_reward_ad .category_menu .list_item a{background: #333542; border: 1px solid #9E9EA5; color: #fff;}
.webview_cashmate.dark .content_reward_ad .category_menu .list_item a:hover{border: 1px solid #fff;}
.webview_cashmate.dark .content_reward_ad .category_menu .list_item a.active{background: #272936; border: 1px solid #fff;}
.webview_cashmate.dark .content_reward_ad .content_list .list_item{border-bottom: 1px solid #333542;}
.webview_cashmate.dark .content_reward_ad .content_list .list_item .info_product .info_title{color: #fff;}
.webview_cashmate.dark .content_inquiry .content_item .list_title h3{color: #fff;}
.webview_cashmate.dark .content_inquiry .content_item  .content_list .list_item a{color: #fff;}
.webview_cashmate.dark .content_inquiry .content_item  .content_list .list_item {background: #272936; border: 1px solid #353745; margin-bottom: 10px;}
.webview_cashmate.dark .content_inquiry .content_item  .content_list .list_item:hover{background: #20222B; border: 1px solid #9E9EA5;}
.webview_cashmate.dark .content_inquiry .content_item  .content_list .info_box .list_item:hover{background: #272936; border: 1px solid #353745;}
.webview_cashmate.dark .content_inquiry .content_item  .content_list .info_box p{color: #fff; line-height: 2;}


/* 
    * APP Webview 캐시메이트 메인페이지
    * 클립다운라이트 앱에서만 노출
*/


.section_mypage, .section_errorpage{min-height: 100%;}
.webview_cashmate .section_mb{background: #F7F7F7; padding: 0;}
.webview_cashmate .section_mb .contents{background: #fff; padding: 0 20px; margin-bottom: 10px;}
.webview_cashmate .section_mb .contents:last-child{margin-bottom: 0;}
.webview_cashmate .section_mb .contents_top{display: block; padding: 0; margin-bottom: 0;}
.webview_cashmate .section_mb .list_content{margin: 0;}
.webview_cashmate .section_mb .content_item .form_group{padding: 0 0 10px;}
.webview_cashmate .section_mb .btn_action{border: 0; padding: 20px 20px;}


/* 정리예정 */
.webview_cashmate .section_mb .form_list{height: auto; overflow-y: hidden;}

.webview_cashmate .section_mb .contents_top .guide_noti_box .icon_noti{display: none;}
.webview_cashmate .section_mb .contents_top .guide_noti_box .noti_title{font-size: 15px; font-size: 1.5rem;}
.webview_cashmate .section_mb .contents_top .content_mypoint{position: relative; text-align: center; padding: 20px 0;}
.webview_cashmate .section_mb .contents_top .content_mypoint .item_mypoint{display: inline-block;}
.webview_cashmate .section_mb .contents_top .content_mypoint .item_mypoint .item_title{font-size: 15px; font-size: 1.5rem; font-weight: 600;}
.webview_cashmate .section_mb .contents_top .content_mypoint .item_mypoint .item_point{font-size: 28px; font-size: 2.8rem; font-weight: 600; padding: 5px 0 0;}
.webview_cashmate .section_mb .contents_top .content_mypoint .item_state_user{position: relative; float: right;}
.webview_cashmate .section_mb .contents_top .content_mypoint .item_state_user .link-text{text-decoration: underline; font-size: 15px; font-size: 1.5rem;}
.webview_cashmate .section_mb .contents.contents_banner{padding: 0;}
.webview_cashmate .section_mb .content_menu_point{display: flex; flex-flow: row nowrap; justify-content: space-around; position: relative; padding: 40px 0; margin: 0 -5px;}
.webview_cashmate .section_mb .content_menu_point .box_point{flex: 1; border: 1px dashed #ddd; text-align: center; margin: 0 5px; padding: 7px 15px;}
.webview_cashmate .section_mb .content_menu_point .box_point .icon{position: relative; max-width: 52px; min-width: 48px; margin: 0 auto;}
.webview_cashmate .section_mb .content_menu_point .box_point .text_menu{font-size: 13px; font-size: 1.3rem; font-weight: 600; padding: 5px 0;}

.webview_cashmate .section_mb .list_box_menu{}
.webview_cashmate .section_mb .list_box_menu .list_item{position: relative; border-bottom: 1px solid #f7f7f7; padding: 20px 0;}
.webview_cashmate .section_mb .list_box_menu .list_item a{display: block; position: relative; font-size: 15px; font-size: 1.5rem;}
.webview_cashmate .section_mb .list_box_menu .list_item .icon_arrow_right{float: right; margin: 5px 5px;}

/* Section Style */
.webview_cashmate .section_mb.section_mypoint .contents_top.main{padding: 20px 20px; margin-bottom: 10px;}
.webview_cashmate .section_mb.section_mypoint .contents_top.main .content_mypoint{text-align: left;}
.webview_cashmate .section_mb.section_mypoint .contents_top.main .content_mypoint .item_mypoint{padding-right: 20px;}
.webview_cashmate .section_mb.section_mypoint .tabs_multi{padding-top: 10px; margin: 0;}
.webview_cashmate .section_mb.section_mypage .contents_top .guide_noti_box{text-align: left; padding: 20px 20px; margin-bottom: 0;}
.webview_cashmate .section_mb.section_mypage .contents_top .content_mypoint .item_mypoint{padding: 0;}
.webview_cashmate .section_mb.section_mypage .contents{padding: 0;}
.webview_cashmate .section_mb.section_mypage .content_item{padding: 20px 20px;}
.webview_cashmate .section_mb.section_mypage .content_item .input_group .btn_input{width: 100%; padding: 4px 10px; margin-top: 10px;}
.webview_cashmate .section_mb.section_mypage .input_width_md{width: 100% !important;}
.webview_cashmate .section_mb.section_mypage .item_logout{text-align: center; padding: 40px 0;}
.webview_cashmate .section_mb.section_mypage .item_logout p{font-size: 15px; font-size: 1.5rem; margin-bottom: 20px;}
.webview_cashmate .section_mb.section_point .contents{padding: 0;}
.webview_cashmate .section_mb.section_point .guide_noti_box{padding: 20px 20px 10px;}
.webview_cashmate .section_mb.section_point .content_reward_ad .category_menu{padding: 10px 20px;}
.webview_cashmate .section_mb.section_point .content_reward_ad .content_list{height: auto; overflow-y: hidden;}
.webview_cashmate .section_mb.section_point .content_reward_ad .product_list{padding: 0 20px;}
.webview_cashmate .section_mb.section_point .content_reward_ad .product_list .list_item{padding: 10px 0;}
.webview_cashmate .section_mb.section_event .guide_noti_box{padding: 20px 20px; margin-bottom: 0;}
.webview_cashmate .section_mb.section_event .content_event .content_list{padding-top: 20px; margin: 0;}
.webview_cashmate .section_mb.section_inquiry .guide_noti_box{padding: 20px 20px; margin-bottom: 0;}
.webview_cashmate .section_mb.section_inquiry .contents{padding: 0;}
.webview_cashmate .section_mb.section_inquiry .content_item{padding: 20px 20px;}


/* Popup Style */
.layer_popup{display: block; position: fixed; _position: absolute; top:0; left:0; width: 100%; height: 100%; z-index: 1050; }
.layer_popup .bg_dimmed{position: absolute; top:0; left: 0; width: 100%; height: 100%; background:#000; opacity: .65; filter: alpha(opacity=65);}
.layer_popup .popup_wrap{position: absolute; top:50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; max-width: 400px; z-index: 5001;}
.layer_popup .popup_inner{position: relative; margin: 0 10px;}
.layer_popup .popup_header{background: #20222b; text-align: left; padding: 12px 40px 12px 20px; border-radius: 10px 10px 0 0;}
.layer_popup .popup_header .header_title h3{font-size: 15px; font-size: 1.5rem; font-weight: 600; color:#fff;}
.layer_popup .popup_contents{position: relative; background: #fff; border: 1px solid #20222b; border-radius: 0 0 10px 10px; padding: 20px 20px;}
.layer_popup .popup_content{position: relative; width: 100%; text-align: center;}
.layer_popup .btn_box{position: absolute; top: 1px; right: 0; padding:10px 10px;}
.layer_popup .btn_box .btn_popup_close{display: inline-block; vertical-align: middle; background:transparent; width: 18px; height: 18px; padding:0;}
.layer_popup .btn_box .btn_popup_close:focus{outline:0;}
.layer_popup .btn_box .btn_popup_close .btn_close{display: inline-block; position: relative; overflow: hidden; width: 18px; height: 18px; opacity: 1;}
.layer_popup .btn_box .btn_popup_close .icon-close:before, .layer_popup .btn_box .btn_popup_close .icon-close:after{content: ''; position: absolute; width: 100%; height:1px; top:50%; right:0; background:#fff;}
.layer_popup .btn_box .btn_popup_close .icon-close:before{-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.layer_popup .btn_box .btn_popup_close .icon-close:after{-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg)}
.layer_popup .content_box{padding-bottom: 10px;}
.layer_popup .content_box:last-child{padding-bottom: 0;}
.layer_popup .content_box .content_heading{font-size: 15px; font-size: 1.5rem; line-height: 1.5; padding-bottom: 10px;}
.layer_popup .content_box .content_heading .guide_text{display: block; font-size: 13px; font-size: 1.3rem; padding-top: 10px; color: #333;}
.layer_popup .content_box .content_item{margin: 20px 0 0;}


@media screen and (max-width: 640px){

}

