@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@charset "euc-kr";

*    	  	{margin:0; padding:0;}
/*body		{background-color:url() repeat 0 0 #fff; font-size:13px; line-height:1.3; color:#666; font-family:'Noto Sans KR', dotum, sans-serif; font-weight: 400;}*/
body		{font-size:13px; line-height:1.3; color:#666; font-family:'Noto Sans KR', dotum, sans-serif; font-weight: 400;}
address,cite,em	{font-style:normal;}
img			{border:0; vertical-align:top; max-width:100%; height:auto;}
.loading	{width:100%; height:100%; text-align:center; position:relative;}
.loading img    {position:absolute; left:25px; top:10px;}
.hide{display: none;}


.popWrap    {width:530px; height:430px; overflow:hidden; position:relative;}
/* .popWrap h1.logo	{display:inline-block; width:510px; background:#374873; height:45px; padding:5px 0 0 20px; margin:0 0 20px; background:url(../img/header_bg.gif) repeat-x center top;} */
.popWrap .tit_area	{width:490px; padding:0 0 0 20px; overflow:hidden;}
.popWrap .tit_area p.tit	{float:left;}
.popWrap .tit_area ul.family	{width:192px; float:right; overflow:hidden;}
.popWrap .tit_area ul.family li	{float:left; margin-left:8px; display:inline;}

.popWrap .box		{width:494px; background:url(../img/box_mid.gif) repeat-y center top; overflow:hidden; margin-left:19px; margin-top:9px;}
.popWrap .box .boxTop	{width:494px; background:url(../img/box_top.gif) no-repeat center top;}
.popWrap .box .boxBtm	{width:494px; background:url(../img/box_btm.gif) no-repeat center bottom; overflow:hidden;}

p.txt_info	{margin:57px 0 0 145px;}

.noti_area		{width:428px; height:25px; background:#e6e8ec; margin-top:7px; padding-left:15px; padding-right:15px; overflow:hidden;}
.noti_area em.notice	{float:left; display:inline-block; margin-top:6px; font-size:11px; color:#5a6b96;}
.noti_area em.notice strong	{color:#5a6b96; font-size:11px;}
.noti_area em.tel		{float:right; display:inline-block; margin-top:6px; font-size:11px; color:#5a6b96;}
.noti_area em.tel strong	{color:#5a6b96; font-size:11px;}

.popFoot	{width:490px; background:url(../img/box2_mid.gif) repeat-y center top; position:absolute; left:20px; bottom:31px; display:inline; overflow:hidden; }
.popFoot .foot_top	{width:490px; background:url(../img/box2_top.gif) no-repeat center top;}
.popFoot .foot_top .foot_btm	{width:469px; background:url(../img/box2_btm.gif) no-repeat center bottom; padding:11px 0 11px 21px;}
.popFoot .foot_top .foot_btm ul li			{font-size:0;}
.popFoot .foot_top .foot_btm ul li.st01 a img	{vertical-align:bottom;}
.popFoot .foot_top .foot_btm ul li.st01 img	{vertical-align:bottom; margin-right:5px;}

.popWrap p.btn		{margin-top:6px; text-align:center;}

/* .service_error		{margin:19px 21px 21px 21px; width:448px; overflow:hidden;}
.service_error .error01	{width:448px; background:url(../img/error_line.gif) no-repeat center bottom; padding-bottom:7px; margin-bottom:8px;}
.service_error dl dt	{margin-bottom:6px;}
.service_error dl dd	{background:url(../img/error_arrow.gif) no-repeat 13px 2px; padding-left:28px; color:#374873; line-height:20px;} */


.paymentPop		{width:560px; min-height:633px; overflow:hidden;}
.paymentPop .titArea	{width:560px; height:55px; overflow:hidden; position:relative; background:url(../img/titArea_bg.gif) no-repeat center top;}
.paymentPop .titArea a.logo	{position:absolute; left:25px; top:7px;}
.paymentPop .titArea span.txtArea	{display:inline-block; margin:23px 0 0 132px; color:#c8c8c8; font-weight:bold; font-size:12px;}
.paymentPop .titArea span.txtArea em.point	{color:#e4e4e4; font-size:16px; font-weight:bold;}
.paymentPop .contenBox	{width:560px; background:url(../img/contenBox_bg.gif) no-repeat center bottom; overflow:hidden;}
.paymentPop .contenBox .grayBox	{margin:15px 0 0 17px; width:526px; background:url(../img/grayBox_mid.gif) repeat-y center top; overflow:hidden;}
.paymentPop .contenBox .grayBox .grayBox_top	{width:526px; background:url(../img/grayBox_top.gif) no-repeat center top; overflow:hidden;}
.paymentPop .contenBox .grayBox .grayBox_btm	{width:476px; background:url(../img/grayBox_btm.gif) no-repeat center bottom; overflow:hidden; padding:24px 25px 25px 25px; line-height:16px; color:#595959;}
.paymentPop .contenBox .grayBox .grayBox_btm em.point	{color:#e5482b; font-weight:bold;}
.paymentPop .contenBox .payInfo	{margin:30px 0 0 17px; border:2px solid #cacaca; width:522px; overflow:hidden; padding-bottom:12px;}
.paymentPop .contenBox .payInfo p.payTitle		{height:20px; padding-top:7px;text-align:center; border-bottom:1px solid #c7c7c7; background:#e7e7e7; font-weight:bold;}
.paymentPop .contenBox .payInfo .payDev			{margin:13px 0 0 44px; width:400px; overflow:hidden;}
.paymentPop .contenBox .payInfo .payDev dl		{width:400px; overflow:hidden; margin-bottom:4px;}
.paymentPop .contenBox .payInfo .payDev dl dt	{float:left; width:105px; display:inline;}
.paymentPop .contenBox .payInfo .payDev dl dd	{float:left; width:295px; display:inline;}
.paymentPop .contenBox .payInfo .payDev dl dd input	{float:left; border:1px solid #ccc; height:18px; line-height:18px; padding-left:7px; width:132px;}
.paymentPop .contenBox .payInfo .payDev dl dd input.it1	{width:234px;}
.paymentPop .contenBox .payInfo .payDev dl dd input.it2	{width:82px;}
.paymentPop .contenBox .payInfo .payDev dl dd input.it3	{width:184px;}
.paymentPop .contenBox .payInfo .payDev dl dd select	{width:183px; color:#666; border:1px solid #ccc; line-height:20px;}
.paymentPop .contenBox .payInfo .payDev dl dd img	{float:left;}
.paymentPop .contenBox .btnSet				{padding-top:20px; text-align:center; padding-bottom:27px;}


/* custom style */
body{background: #fafafa;}
.pop_wrap{position:relative; width:100%; height:auto; margin: 0 auto;}
.pop_win .header{width: 100%; height: 50px; background: #eaeaea;}
.pop_win .header h1.logo{padding: 8px 20px;}
.pop_win .header .sub_text{ font-size:15px; font-weight: 500; color: #333; letter-spacing: -1px; vertical-align: bottom;}
.pop_win .contents_header{margin: 0 20px; padding: 20px 0 10px 0;}
.pop_win .contents_header .header_title{font-size: 18px; font-weight: 500; color: #333;}
.pop_win .contents_header .header_title .sub_text_s{font-size: 12px;}
.pop_win .container{position:relative; width: 100%; height: auto; margin: 0 auto;}
.pop_win .tit_area{width: 100%; margin-bottom: 20px;}
.pop_win .contents{position: relative; background:#fff; border: 1px solid #eaeaea; margin: 0 20px;}
.pop_win .contents .content_item{padding: 20px 20px;}
.pop_win .content_item .content_message{display: flex; justify-content: center; align-items: center; position: relative; min-height: 100px;}
.pop_win .content_item .content_message{font-size: 14px; color:#666;}
.pop_win .content_item .content_message .text_point{font-weight: 500; color:#333;}
.pop_win .content_item .content_message .content_title{font-size: 18px; letter-spacing: -1px;}

.pop_win .contents .content_item.item_guide{text-align: center; padding: 0 20px;}
.pop_win .contents .content_item.item_guide .guide_info{border-top:1px solid #eee; padding: 20px 0;}
.pop_win .contents .content_item.item_guide .guide_info p{font-size: 13px;}
.pop_win .content_item .text_point{font-weight: 600;}
.pop_win .box_btn{position: relative; width: 100%; text-align: center; margin: 20px 0;}
.pop_win .btn_style{display: inline-block; position: relative; overflow: hidden; padding: 6px 28px; font-size: 15px; background: #666; color: #fff; border: 1px solid #666; border-radius: 3px;text-decoration: none;}
.pop_win .btn_style:hover{background: #333; border: 1px solid #333; text-decoration: none;}

.pop_win .service_error	{width: 100%; overflow:hidden; margin: 0; padding: 0;}
.pop_win .service_error .error01{border-bottom: 1px dotted #ddd; padding-bottom:7px; margin-bottom:8px;}
.pop_win .service_error dl dt{margin-bottom:6px;}
.pop_win .service_error dl dt span{position: relative; padding: 0 10px; font-weight: 600;}
.pop_win .service_error dl dt span:before{ content: ''; position: absolute; top: 50%; left: 0; width: 3px; height: 3px; background: #c0c0c0; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; margin-top: -2px; }
.pop_win .service_error dl dd	{background:url(../img/error_arrow.gif) no-repeat 13px 2px; padding-left:28px; color:#374873; line-height:20px;}


/* Tabs Menu */

/*.tabs-menu.tabs_payment{position: relative; width: 100%; min-width: 660px; max-width: 800px; margin: 0 auto;}*/
.tabs-menu.tabs_payment{position: relative; width: 100%; min-width: 350px; max-width: 800px; height: 100%; margin: 0 auto;}

/*.tabs-menu.m_tabs_payment{position: relative; width: 100%; min-width: 420px; max-width: 520px; margin: 0 auto; background: #f0f0f0;}*/
.tabs-menu.m_tabs_payment{position: relative; width: 100%; height: 100%; min-width: 420px; max-width: 520px; margin: 0 auto; background: #f0f0f0;}

.tabs-menu .nav{width: 100%;}
.tabs-menu .nav-item{position: relative; overflow: hidden; width: 50%; background: #fafafa; font-size: 15px; font-size: 1.5rem; line-height: 1.6; margin-left: 0 !important; margin-right: -1px;}
.tabs-menu .nav-item a{color: #272727; text-align: center;  border-radius: 0; padding: 12px 12px;}
.tabs-menu .nav-item a:hover, .tabs-menu .nav-item.active a:hover, .tabs-menu .nav-item.active a:focus {background: #eee;  color: #272727;}
.tabs-menu .nav-item.active{background: #eee; z-index: 2;}
.tabs-menu .nav-item.active a{background: #fff; color: #272727; font-weight: 600;}
/*.tab-content{position: relative; overflow: hidden; width: 100%;}*/
.tab-content{position: relative; overflow: hidden; width: 100%; height: calc(100% - 48px)}

.tabs-menu.m_tabs_payment .nav-item{background: #f0f0f0;}


/* clipdonwPLUS+ Webview 가입팝업 - 결제완료 */
*, ::after, ::before{box-sizing: border-box;}
.webview_join_body{background: #fff;}
.webview_popup_join .inner{position: relative; margin: 0 auto; max-width: 504px; max-height: 786px;}
.webview_popup_join .contents{position: relative; padding: 20px 20px; border: 1px solid #ddd; margin-bottom: 20px;} 
.webview_popup_join .header{position: relative; height: 36px; padding: 6px 20px; background: #f8f8f8;}
.webview_popup_join .logo_brand{display:inline-block; position: relative; width: 23%; top:3px;}
.webview_popup_join .sub-header {padding: 10px 0 0 0;}
.webview_popup_join .sub-header .sub_title{font-size: 16px; font-size: 1.6rem; font-weight: 500; color: #3b393a;}
.webview_popup_join .contents .content_item{padding: 20px 0;}
.webview_popup_join .content-item{margin: 10px 0; margin-bottom: 20px;}
.webview_popup_join .itme_clipdown{position: relative; width: 100%; text-align: center; background: #f7f7f7;  padding: 20px 0;}
.webview_popup_join .itme_clipdown .icon_clipdown{display: inline-block; vertical-align: middle;}
.webview_popup_join .itme_clipdown .content_text{display: inline-block; font-size: 1.4em; font-size: 14px; text-align: left; vertical-align: middle; padding-left: 10px;}
.webview_popup_join .item_guide .guide_info{border-top: 1px dashed #eee;}
.webview_popup_join .item_guide .guide_list{padding-top: 15px;}
.webview_popup_join .content_item.item_guide{background: #f7f7f7;}

