@charset "utf-8";

/* Sections */
.intro-section {
height: 700px;
padding-top: 150px;
text-align: center;
background: #fff;
}
.uselist-section {
height: 800px;
padding-top: 150px;
text-align: center;
background: #f5f5f5;
}
.services-section {
height: auto;
padding-top: 150px;
text-align: center;
background: #fff;
}
.notice-section {
height: auto;
min-height:500px;
padding-top: 150px;
text-align: center;
background: #fff;
padding-bottom: 50px;
}
.contact-section {
height: 650px;
padding-top: 150px;
text-align: center;
background: #f5f5f5;
}

.header_title{font-size: 34px; font-size: 3.4rem;}
.content_title{font-size: 24px; font-size: 2.4rem; font-weight: 500; padding-bottom: 20px;}
.content-text{font-size: 22px; font-size: 2.2rem; font-weight: 400; line-height: 1.6; padding-bottom: 40px;}
.content_info{position: relative; text-align:left; margin: 60px 0; z-index: 100;}
.info-area{position: relative; z-index: 100;}
.left_img, .right_img{position: relative; overflow: hidden; margin-top: 20px;}
.m-btn-box{display: none; position: relative; vertical-align: middle; width:100%;}
.m-btn-box .m_btn{display: inline-block; position: relative; width: 40%;}
.intro-section .header_title{text-align: left; font-size: 40px; font-size: 4.0rem; font-weight: 500; line-height: 1.6; padding-left: 20px;}
.intro-section .m_main_img{display:none;}
.intro-section .btn-box{display: block; text-align: left; margin: 40px 0;}
.intro-section .left_text{padding:60px 0;}
.intro-section .bg_01{background-image: url(../images/bg_figure.png); background-repeat: no-repeat; position: absolute; top: 0; right: 0; width: 63%; height: 700px;}
.intro-section .img_main_style .bg_mac{position: relative;}
.intro-section .img_main_style .main_img{position: absolute; top:50%; left: 50%; width:80%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.video-overlay{position:absolute; top:0; left:0; z-index:1;}
.video-overlay.play{cursor:pointer;}
.video-overlay .btn_play{position:absolute; top:50%; left:50%; width:68px; height:68px; background:url(../video/btn_play.png) no-repeat; margin:-50px 0 0 -50px;}
.video-overlay .btn_play:hover{background:url(../video/btn_play_s.png) no-repeat;}

.uselist-section .content_info{margin: 40px 0;}
.uselist-section .info-area .info-text{font-size: 16px; font-size: 1.6rem; font-weight:600; margin-bottom:15px;}
.uselist-section .info-area .info-text-s{font-size: 13px; font-size: 1.3rem;}
.uselist-section .item_box{max-width:250px; min-height: 280px; background: #f5f5f5; box-shadow: -10px -10px 30px #fff, 10px 10px 30px #d7d7d7; text-align: center; border-radius: 30px; margin: 40px auto; padding: 20px 10px;}
.uselist-section .item_box .item_title{font-size: 18px; font-size: 1.8rem; font-weight: 500; padding: 20px 0;}
.uselist-section .item_box .item_description{line-height: 1.8;}

.services-section .bg_02{background-image: url(../images/bg_figure.png); background-repeat: no-repeat; position: absolute; top: 100%; left: -1080px; width: 1327px; height: 1327px;}
.services-section .left_img, .services-section .right_img{margin-top: 0;}
.services-section .right_text{margin: 20px 0; padding: 10px 0 40px 40px;}
.services-section .left_text{text-align:right; margin:20px 0; padding: 10px 40px 40px 0;}
.services-section .contents-pc, .services-section .contents-mobile{margin-top: 60px; margin-bottom: 100px;}
.services-section .contents-mobile .left_img, .services-section .contents-mobile .right_img{width:80%;}
.services-section .contents-mobile .left_img{float: right;}
.services-section .contents-mobile .right_text .content-text{padding-bottom: 20px;}
.services-section .btn-box{margin:40px 0;}
.services-section .m-btn-box{display: block;}
.services-section .btn-group a.btn{padding:0;}
.services-section .btn-lg{min-height: 72px !important; font-size: 28px !important; padding: 16px 100px !important;}

.notice-section .tabs-menu{margin: 60px 0;}
.notice-section .tabs-menu .nav{width: 100%; margin-bottom: 60px;}
.notice-section .tabs-menu .nav-item{overflow: hidden; width: 50%; background: #fff; border: 1px solid #ddd; font-size: 15px; font-size: 1.5rem; line-height: 1.6; margin-left: 0 !important; }
.notice-section .tabs-menu .nav-item a{border-radius: 0; padding: 12px 12px;}
.notice-section .tabs-menu .nav-item a:hover{background: #fff; color: #e21d19;}
.notice-section .tabs-menu .nav-item.active{border: 1px solid #e21d19;}
.notice-section .tabs-menu .nav-item.active a{background: #fff; color: #e21d19;}

.tabs_faq .nav-tab{border-top: 2px solid #333; border-bottom: 2px solid #333; padding: 10px 0;}
.tabs_faq .nav-tab li{text-align: left; padding:5px 10px;}
.tabs_faq .nav-tab li>a{color:#333; text-decoration: none;}
.tabs_faq .nav-tab li>a:hover{color: #e21d19;}
.tabs_faq .nav-tab li.active>a{background: #fff; color: #e21d19;}

.contact-content{display: block;}
.m_contact-content{display: none;}
.contact-content{padding:20px 10px; text-align: left;}
.contact-content .contact-info{font-size: 14px; font-size: 1.4rem; line-height: 1.6;}
.contact-content .contact-info .content_title{font-size: 14px; font-size: 1.4rem; font-weight: 500; padding-bottom: 10px;}

.table-style{border-top: 2px solid #333; border-bottom: 1px solid #ddd;}
.table-style>thead>tr>th{color: #333; text-align: center; border-bottom: 1px solid #ddd; padding: 10px 10px;}
.table-style>tbody>tr>th{color: #333; text-align: center; vertical-align: middle; padding: 10px 10px;}
.table-style>tbody>tr>td{color: #333; text-align: left; padding: 10px 10px;}

.contact-section .left_text{text-align: left;}
.contact-section .left_text .header_title .sub-text{font-size:18px; font-size:1.8rem; font-weight:400; padding:10px 0;}
.contact-section .left_text .content-text{padding:40px 0;}
.contact-section .left_text .content-text .contact-info{font-size: 16px; font-size: 1.6rem; line-height: 1.8;}
.contact-section .btn{padding:12px 60px !important}
.contact-section .contact-form .form-control{height: auto; font-size:13px; font-size:1.3rem; color: #333; border:1px solid #ddd; border-radius: 0; padding:13px 13px; box-shadow: none;}

/* Video List */
.video-list_area{margin-top:60px; margin-bottom:60px;}
.video-list{display: block;position: relative; margin: 0; margin-right: -10px; margin-left: -10px; padding: 0; overflow: hidden;}
.video-list .video-items{position: relative; padding-right: 10px; padding-left: 10px; overflow: hidden;}
.video-list .video-items:last-child{padding-right: 10px;}
.video-items{height: auto; margin-bottom: 15px;}
.video-items .video-item{display: inline-block; position: relative; width: 100%; vertical-align: top; letter-spacing: 0;}
.video-items .video-item .list-thumbnail{position: relative; float: left; width: 100%;}
.video-items .video-item .list-video-info{display: inline-block; position: relative; overflow: hidden; width: 100%; margin-top: 0;}
.video-items .video-item .list-video-info .video-title{display: block; height: 3.2rem; overflow: hidden; color: #444; font-size:13px; font-size:1.3rem; font-weight: 400; line-height: 1.6rem; text-align: left; margin: 10px 0;}
.video-items .video-item .list-video-info .video-metadata{margin: 5px 0 5px;}
/* video-thumbnail */
.thumbnail-img{display: inline-block; background: #fff;}
.video-thumbnail{display: block; position: relative; height: 0; padding: 0; overflow: hidden; background: #000; text-align: center;}
.video-thumbnail-16by9{padding-bottom: 56.25%;}
.video-thumbnail-4by3{padding-bottom: 75%;}
.video-thumbnail a, .thumbnail-video{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; background: #000;}
.video-thumbnail .thumbnail-item{display: initial; max-width: 100%; height: 100%;}
.play-time{position: absolute; z-index: 1; right: 5px; bottom: 5px; margin: 0 !important; padding: 0 4px; background: #000; color: #fff; font-size: 11px; opacity: 0.80; filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.80;}
/* footer */
.footer-section{text-align: center; border-top: 1px solid #f5f5f5; padding:20px 10px;}
.footer-section .policy-info a, .footer-section .office-info, .footer-section .copyright{color:#666; font-size:11px; font-size:1.1rem; line-height: 1.6;}
.footer-section .policy-info{padding-bottom: 8px;}
.footer-section .copyright{position: relative; padding-top:15px;}

.slide-indicators{position: relative; left: 0; margin:5px 0;}
.slick-dots{bottom:0 !important;}
.slick-dots li{margin:0 !important;}
.slick-dots li button:before{color:#333;}
.slick-dots li.slick-active button:before{color:#333;}

.back-to-top{display: none; }
.back-to-top a{color:transparent;}
/* floatBanner */
.folat-box{position:fixed; width:108px; height: 140px; bottom:50px; right:20px; background-color:#d52719; border-radius: 10px; z-index: 100;}
.float-banner{position: relative; width:120px; height: 140px; text-align: center; cursor: pointer;}
.float-banner:hover{text-decoration: none;}
.banner-info{position: relative; width:80px; height: 80px; background: #fff; border-radius: 10px; margin: 10px auto; padding: 6px 5px;}
.banner-info .img-clipdown{width: 60px; margin: 0 auto;}
.banner-info .info-text{font-size: 14px; font-weight: 500; text-align: center; color: #333; padding:6px 0; text-decoration:none;}
.icon-download{position: relative; overflow: hidden;}
.icon-download .arrow span{color: #fff; text-decoration: none; padding-top: 0;}
.arrow {text-align: center; margin-top: 10px;}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
  }
  40% {
  transform: translateY(-30px);
  }
  60% {
  transform: translateY(-15px);
  }
}

/* 하단 중앙영역 다운로드 버튼 노출 */
.btn_download_bottom{position: fixed; width: 100%; left: 0; bottom: 0; text-align: center; z-index: 999;}
.btn_download_bottom{bottom: -100px;  transition:bottom .5s;}
.btn_download_bottom.show{bottom: 40px;}
.btn_download_bottom a{box-shadow: 0px 2px 5px rgb(26 0 35 / 5%), 0px 10px 10px rgb(0 0 0 / 15%); transition: all .2s ease-in-out;}
.btn_download_bottom .icon-download{float: left;}
.btn_download_bottom .info-text{display: inline-block; color:#fff; font-size: 26px; font-size: 2.6rem; font-weight: 500; line-height: 1.5; padding-top: 6px; padding-left: 10px;}
.btn-grad{background-image: linear-gradient(to right, #e31d19 0%, #ff3733  51%, #e31d19  100%); background-color: #e31d19; border-color:transparent; color:#fff;}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }
 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.btn-grad:active{background-color: #e31d19;}


/* 하단영역 다운로드 팝업 노출 */
/* .popupDownlad{display: block;} */
.popupDownlad{background: rgba(0, 0, 0, 0.75);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;}
.popupDownlad > div {
  max-width: 720px;
  width: 90%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #e21d19;
  z-index: 99999;
  text-align: center;
  border: 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.popupDownlad_sm > div{max-width: 600px;}
.popup_downlad .popup-body{text-align: center;}
.popup_downlad .popup-content{background-color: #fff; border-radius: 10px;}
.popup_downlad .btn_download_popup .btn{overflow: unset;}
.popup_downlad .btn-area{position:absolute; top:10px; right:25px; padding:14px 0;}
.popup_downlad .btn-area .btn-close{display: inline-block; vertical-align: middle; background:transparent; width: 28px; height: 28px; padding:0;}
.popup_downlad .btn-area .btn-close:focus{outline:0;}
.popup_downlad .btn-area .btn-close .close{display: inline-block; position: relative; overflow: hidden; width: 28px; height: 28px; opacity: 1;}
.popup_downlad .btn-area .btn-close .close:before,  
.popup_downlad .btn-area .btn-close .close:after{content: ''; position: absolute; width: 100%; height:2px; top:50%; right:0; background:#fff;}
.popup_downlad .btn-area .btn-close .close:before{-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_downlad .btn-area .btn-close .close:after{-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}

/* popup Style flex Row */
.con_style_row{display: flex; align-items: center; width: 100%; height: 100%; padding:0;}
.con_style_row .con_left{display: flex; align-items: center; flex-direction: column; width: 60%; height: 100%; overflow: hidden; background-color: #e21d19; padding: 20px;}
.con_style_row .con_right{display: flex; align-items: center; flex-direction: column; width: 40%; height: 100%; background-color: #fff; border-radius: 20px; margin:20px 40px 20px 0; padding: 60px 20px;}
.con_style_row .con_left .header_title{font-size: 2.6rem; font-weight: 400; color:#fff;}
.con_style_row .con_left .header_title ul{padding:20px 10px;}
.con_style_row .con_left .header_title ul li{font-size: 20px; font-weight: 300; line-height: 1.8;}
.con_style_row .box_icon{width: 5.2rem; height: 5.2rem; background-color: transparent; text-align: center; border-radius: 10px; margin-bottom: 20px;}
.con_style_row .box_icon .icon-download .arrow span{font-size: 48px; color:#e21d19;}
.con_style_row .info_clipdown{font-size: 1.8rem; line-height: 1.6; text-align: center; margin: 10px 0;}
.con_style_row .btn-grad{font-size: 1.8rem; padding: 10px 45px;}
.con_style_row .btn-area{top:10px; right:10px; padding: 0;}
.con_style_row .btn-area .btn-close{width: 20px; height: 20px;}
.con_style_row .btn-area .btn-close .close:before,  
.con_style_row .btn-area .btn-close .close:after{background: #fff !important;}
.con_style_row .btn-area .btn-close .close{width: 20px; height: 20px;}

/* popup Style flex Coulm */
.con_style_column{display: flex; flex-direction: column; align-items: center; width: 100%; height:100%; padding: 0;}
.con_style_column .con_left{width: 100%; overflow: hidden; background-color: #fff; text-align: center; padding: 40px 40px 0 40px;}
.con_style_column .con_right{width: 100%; background-color: #e21d19; text-align: center;}
.con_style_column .con_left .img_clipdown{position: relative; overflow: hidden; width: 100%; max-width:448px; margin: 0 auto; }
.con_style_column .con_left .header_title{font-size: 2.2rem; font-weight: 300; line-height: 1.4; color:#444;}
.btn_download_popup .btn-bottom{width:100%; min-height: 48px; font-size: 1.8rem; border-radius: 0;  box-shadow:unset; margin:0; padding: 20px 10px;}
.popup_downlad .btn-area .btn-close .close:before, .popup_downlad .btn-area .btn-close .close:after{background: #444;}


/* button Bubbley Animation */
.btn_download_popup .bubbly-button{display: inline-block; position: relative; overflow: unset; background-color: #e21d19; font-size: 1em; color: #fff; border-radius: 4px; border: none; 
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s; box-shadow: 0 2px 25px rgb(255 0 130 / 50%); padding: 1em 2em;}
.btn_download_popup .bubbly-button:focus {
  outline: 0;
}
.btn_download_popup .bubbly-button:before, .btn_download_popup .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.btn_download_popup .bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, transparent 20%, #e21d19 20%, transparent 30%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e21d19 15%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}
.btn_download_popup .bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e21d19 15%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%), radial-gradient(circle, #e21d19 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
.btn_download_popup .bubbly-button:active {
  transform: scale(0.9);
  background-color: #f02f2c;
  box-shadow: 0 2px 25px rgba(255 0 130, 0.2);
}
.btn_download_popup .bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}
.btn_download_popup .bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.m_download_bottom .btn-box{display: none;}

/* Media Query */
@media screen and (max-width: 767px){
.nav>li.menu_download{display: none;}
.left_img, .right_img{width:70% !important; margin:0 auto;}
.m-btn-box{display: block; margin: 40px 0;}
.m-btn-box .btn-group .btn{display: block; float: none; width:240px; margin: 20px 0;}
.header_title{font-size: 30px; font-size: 3.0rem;}
.content-text{padding-bottom: 20px;}
.content_info{margin: 40px 0; text-align: center;}
.content_info .col-2{width:100%;}
.intro-section, .uselist-section, .services-section, .contact-section, .notice-section{padding-top:75px;}
.intro-section {height:830px;}
.intro-section .bg_01{width:70%; height: 830px; right: 0;}
.intro-section .header_title{font-size: 40px; font-size: 4.0rem;}
.intro-section .m_img_main_style, .intro-section .m_main_img{display: block;}
.intro-section .m_img_main_style{width: 80% !important; margin: 0 auto;}
.intro-section .m_main_img{margin: 0px auto;}
.intro-section .img_main_style, .intro-section .btn-box{display: none;}
.intro-section .header_title, .intro-section .btn-box{text-align: center; padding-left: 0;}
.intro-section .left_text{padding: 30px 0;}

.services-section .contents-pc, .services-section .contents-mobile{margin-top:30px; margin-bottom: 70px;}
.services-section .bg_02{top: 140%; left: -1170px;}
.services-section .left_text, .services-section .right_text{text-align:center; padding: 0;}
.services-section .left_text{margin: 20px 0 0;}
.services-section .contents-mobile .left_img{float: initial;}
.services-section .btn-group .img-fluid{max-width: 100%;}
.contact-section{height: 750px;}	
.uselist-section{height: 980px;}
.uselist-section .col-4{width: 50%;}
.uselist-section .item_box{max-width: 280px;} 
.uselist-section .content_info{margin: 20px 0;}
.notice-section{padding-bottom: 20px;}
.notice-section .tabs-menu{margin:60px 0 0;}
.tabs_faq .nav-tab{border-bottom:0; padding: 0;}
.tabs_faq .nav-tab li{float:left; width:33.33%; text-align: center; margin-top: 0; padding: 10px 10px;}	/* tab 메뉴3개만보임 */
.search-bar .search-form{width: 100%;}
.contact-content{display: none;}
.m_contact-content{display:block;}
.m_contact-content{background:#f7f7f7; padding:20px 20px; text-align: left;}
.m_contact-content .contact-info{font-size: 14px; font-size: 1.4rem; line-height: 1.6;}
.m_contact-content .contact-info .content_title{font-size: 14px; font-size: 1.4rem; font-weight: 500; padding-bottom: 10px;}
/* Back To Top */
.back-to-top {display: none; position: fixed; right: 20px; bottom: 100px; text-decoration: none; padding: 0; z-index: 999;}
.back-to-top a{display: block; width: 40px; height: 40px; background: #e31d19; color: #fff; text-align: center; text-transform: uppercase; text-decoration: none; border-radius: 50%; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
.back-to-top span{display: block; position: relative; top: 4px;}
.folat-box{display: none !important;}
.btn-win{display: none;}
/* 모바일에서는 버튼 감추기 */
.btn_download_bottom{display: none !important;}
/* 모바일 일때만 고정 다운로드 버튼 노출 fixed1 */
.m-btn-box.btn_fixed{animation-fill-mode: forwards; animation: sliding 1.5s;}
.m-btn-box.btn_fixed{position: fixed; left:0; bottom:40px; z-index: 999; }
.m-btn-box.btn_fixed .m_btn{box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;}
@keyframes sliding{
  0%{
    bottom:300px;
  } 
  100%{
    bottom:40px;
  }
}

/* 모바일에서는 버튼 감추기 */
.btn_download_bottom.show{display: none !important;}
.popupDownlad.show{display: none !important;}
/* 모바일 일때만 고정 다운로드 버튼 노출 fixed2 */
.m_download_bottom{position: fixed; width: 100%; left: 0; background: #fff; text-align: center; padding:20px 0; z-index: 999;}
.m_download_bottom{bottom: -100px;}
.m_download_bottom.show{display:block; bottom: 0;}
.m_download_bottom.fixed{position: relative;}
.m_download_bottom .btn-box{display:block;}
.m_download_bottom .m_btn{display: inline-block; position: relative; width: 40%;}

}

@media screen and (max-width: 480px){
.header_title{font-size: 22px; font-size: 2.2rem;}
.content_title{font-size: 18px; font-size: 1.8rem;}
.content-text{font-size: 13px; font-size: 1.3rem;}
.btn-lg{min-height: 48px !important; font-size: 18px !important;}
.btn-md{min-height: 34px !important; font-size: 16px !important; line-height: 1.6; padding: 8px 12px !important;}
.m-btn-box{margin: 20px 0;}
.m-btn-box .m_btn{display: block; width: 70%; margin: 10px auto;}
.left_img, .right_img{width:100% !important;}
.content_info{margin: 25px 0;}
.slick-dotted.slick-slider{margin-bottom: 10px;}
.intro-section, .intro-section .bg_01{height: 800px;}
.intro-section .bg_01{width:100%;}
.intro-section .header_title{font-size: 32px; font-size: 3.2rem;}
.intro-section .m_img_main_style{width:100% !important}
.uselist-section{height: 1400px;}
.uselist-section .col-4{width: 100%;}
.uselist-section .item_box{min-height: 240px; margin: 20px auto; box-shadow: -5px -5px 15px #fff, 5px 5px 15px #d7d7d7;}
.uselist-section .content_info{margin: 25px 0;}
.uselist-section .info-area .info-text{font-size: 14px; font-size: 1.4rem; font-weight: 500;}
.uselist-section .info-area .info-text-s{font-size: 11px; font-size: 1.1rem;}
.services-section .bg_02{top: 200%;}
.services-section .left_img, .services-section .right_img{width: 90% !important;}
.services-section .m-btn-box{margin-top: 10px;}
.services-section .m-btn-box .btn-group a.btn{display:block; float: none; text-align:center; margin: 0; padding: 10px 0;}
.services-section .btn-lg{min-height: 48px !important; font-size: 18px !important; padding: 16px 60px !important;}
.search-bar .search-form .form-control{font-size: 14px; font-size: 1.4rem;}
.contact-section .btn{padding: 8px 40px !important;}
.popup-header .btn-area{position:absolute; top:0; right:10px; padding:20px 0;}		
}

@media screen and (max-width: 320px){
.intro-section, .intro-section .bg_01{height: 600px;}
.intro-section .m-btn-box .btn-group .btn{width: 160px;}
.services-section .m-btn-box .btn-group .img-fluid{width: 160px;}
}

/* 211230 클립다운 홈페이지 브라우저별 런처파일 실행 안내팝업 작업 */
.popup_install{display: block; position: fixed; height: 100%; width: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.75); z-index: 5000;}
.popup_install img{max-width: 100%;}
.popup_install .popup-content{position: fixed; left: 0; bottom: 0; z-index: 5001;}
.popup_install .popup-content .install-info{display: inline-block; width: 100%; transform: translate(20px, -20px); -webkit-transform: translate(20px, -20px);}
.popup_install .popup-content .install-info.center{max-width: 300px; position: fixed; top: 50%; left: 50%;-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; z-index: 5001;}