
/* 웹폰트 직접 로딩방식 */
@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:100;
src:local('SCDream1Thin'), local('SCDream 1 Thin'),
	url(SCDream1Thin.otf) format('opentype');
}

@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:200;
src:local('SCDream2ExtraLight'), local('SCDream 2 ExtraLight'),
	url(SCDream2ExtraLight.otf) format('opentype');
}

@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:300;
src:local('SCDream3Light'), local('SCDream 3 Light'),
	url(SCDream3Light.otf) format('opentype');
}	

@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:400;
src:local('SCDream4Regular'), local('SCDream 4 Regular'),
	url(SCDream4Regular.otf) format('opentype');
}

@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:500;
src:local('SCDream5Medium'), local('SCDream 5 Medium'),
	url(SCDream5Medium.otf) format('opentype');
}

@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:600;
src:local('SCDream6Bold'), local('SCDream 6 Bold'),
	url(SCDream6Bold.otf) format('opentype');
}

@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:700;
src:local('SCDream7ExtraBold'), local('SCDream 7 ExtraBold'),
	url(SCDream7ExtraBold.otf) format('opentype');
}

@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:800;
src:local('SCDream8Heavy'), local('SCDream 8 Heavy'),
	url(SCDream8Heavy.otf) format('opentype');
}
@font-face {
font-family:'SCDream';
font-style:normal;
font-weight:900;
src:local('SCDream9Black'), local('SCDream 9 Black'),
	url(SCDream9Black.otf) format('opentype');
}