@charset "utf-8";

/* Custom layout */
.wrap{position: relative; width: 100%; height: 100%;}
.container{position: relative; width: 100%; max-width: 1280px; margin: 0 auto; padding: 0 20px;}
.container:after{content:" "; display:block; clear:both;}

/* Custom Style */
svg{max-width: 100%; width: 100%; height: 100%;}
.head-title{text-align: center; padding: 40px 0;}
.head-title h1{font-size:42px; font-size:4.2rem; font-weight: 500;}
.notify_badge{display:inline-block; position:relative; min-width: 10px; top:-15px; right: 5px; background-color: #e21d19; font-family: 'Poppins', sans-serif; font-size:10px; font-weight: 700; color:#fff; text-align:center; white-space: nowrap; border-radius: 10px; padding: 0 6px;}
.badge_bg{background-color: #e21d19!important; background-image: linear-gradient(90deg, #fd5581, #fd8b55);}
.notify_badge .ripple{position:absolute; width:70px; height:26px; z-index:-1; left:50%; top:50%; opacity:0; border-radius: 30px; margin:-13px 0 0 -35px; -webkit-animation:ripple 1.8s infinite; animation:ripple 1.8s infinite}
/* ripple Animation */
@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.notify_badge .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.notify_badge .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}


/* webview popup info style */
.webview_info .inner{position: relative; max-width: 390px; width: 100%; height:100%; margin: 0 auto;}
.webview_box{width: 100%; height: 100%; text-align: center; padding: 30px 30px;}
.webview_box .btn_defualt{background: #fff; border: 1px solid #f7f7f7;}
.webview_info .webview_box .content_info_message{position: absolute; top:50%; left:50%; width: 100%; transform: translate(-50%, -50%);}
.content_info_message .text_message p{font-size: 14px; font-size: 1.4rem; line-height: 1.6; padding-bottom: 15px;}
.content_info_message .guide_text{font-size: 12px; font-size: 1.2rem; color: #757575; padding-top: 5px;}
.content_info_message .btn_area{position: relative; width: 100%; text-align: center; padding-top: 30px;}
.content_info_message .btn_area .btn_wv_info{font-family: 'Roboto', sans-serif; color:#757575; font-size: 14px; font-size: 1.4rem; font-weight: 500; text-align: center;}
.content_info_message .btn_area .btn_login_google{font-family: 'Roboto', sans-serif; width: 190px; background: #fff url("../images/icon_login_google.png") no-repeat 1rem 50%; background-size: 18px auto; padding: 10px 10px 10px 40px; border-top: 1px solid #f8f8f8; border-radius: 3px; -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 28%); box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 28%);}
.content_info_message .btn_area .btn_login_google:hover{background-color: #eee;}
.content_info_message .btn_area .btn_avs{background:#fff; border:1px solid #e21d19; color:#e21d19; padding: 10px 10px 10px 10px;}
.content_info_message .btn_area .btn_avs:hover{background-color: #e21d19; color:#fff;}


/* float banner */
.float_banner .plus_status{background-color: #e31d19; padding: 20px 0;}
.float_banner .plus_status .btn_state_plus{float:right; text-align: right;}
.plus_status .content_headline{position: relative; color: #fff; line-height: 1.5; padding: 5px 0;}
.plus_status .content_headline .plus_des{font-size:20px; font-size: 2.0rem; }
.plus_status .btn-group{padding: 12px 0;}
.btn_plus{background: #fff; border: 1px solid #fff; color: #e31d19; transition: all .2s ease-in-out;}
.text_gradient{background: #fff; color: #e31d19; transition: all .2s ease-in-out;}
.text_gradient:hover{background: -webkit-linear-gradient(90deg, #e31d19, #aca3cd, #fd8b55); background: linear-gradient(60deg, #e31d19, #aca3cd, #fd8b55); color: #e31d19; background-size: 300%; -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; animation: gradient 5s ease-in-out infinite;}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.navbar-default .navbar-nav .menu_clipdownplus{padding: 18px 20px;}
.navbar-default .navbar-nav .menu_clipdownplus .point-text{font-size: 17px; padding-left: 3px;}
.navbar-default .navbar-nav .divider:before{content: ''; display: inline-block; top:50%; width: 1px; height: 16px; background: #ccc; margin: 20px 3px; }

.section_main{margin-top: 84px; text-align: center; padding: 80px 0 120px;}
.section_main .head-title{padding:0 0 40px;}
.section_main .head-title h1{font-weight: 400;}
.section_main .head-title .point-text{position: relative; top:3px; font-size:48px; font-size:4.8rem; padding-left: 5px;}
.section_main .main-intro{position: relative; text-align: center;}
.section_main .main-intro .intro_des{font-size:2.4rem; font-size:24px; font-weight: 500; color: #e21d19; padding: 20px 0;}
.section_main .main-intro .intro_des .item_des:before{content: '\2022'; display: inline-block; position: relative; right: 3px; color:#ddd;}
.section_main .main-intro .intro_des .item_des:first-child:before{content: '';}
.section_main .main-intro .img_top_main{width: 65%; margin: 0 auto; padding:40px 0 0;}

.section_intro{background: #444154; color: #fff; padding: 120px 0;}
.section_intro .head-title h1{color: #fff; font-weight: 500;}
.section_intro .content_item{padding: 60px 0;}
.section_intro .content_item .item_des{color: #fff; font-size: 26px; font-size: 2.6rem; line-height: 1.6; padding: 40px 0;}
.section_intro .content_item .item_des .item-point{color: #FFE200; font-size: 28px; font-size: 2.8rem; font-weight: 500; padding: 10px 0;}
.section_intro .content_item .img_intro{position:relative; width:80%; text-align:center; margin: 0 auto;}
.section_intro .content_item.item_02 .img_intro{left:10px;}
.section_intro .content_item.item_03 .item_des{padding-top: 60px;}

.contents_table{padding: 40px 0 20px;}
.contents_table table th, td{font-size: 16px; font-size: 1.6rem; text-align: center; vertical-align: middle; padding:16px 20px;}
.contents_table table th:first-child, td:first-child{text-align: left;}
.contents_table table tr{background: #fff;}
.contents_table table tr:nth-child(even){background-color: #FFF8F8;}
.contents_table .icon-circle{width: 14px; height: 14px; border-radius: 50%; background:#F8B5B4;}
.contents_table .icon-circle.circle_check{background:#E41D19;}
.table-style th,td{font-size: 13px; font-size: 1.3rem; text-align: center; vertical-align: middle; border: 1px solid #d4d4d4; padding:10px 10px;}
.table-style th:first-child, .table-style td:first-child{text-align: left;}
.table-style th{background: #f7f7f7; font-weight: 500;}

.section_comparison{background: #F5F5F5; padding: 120px 0;}
.section_comparison .table_comparison{border:1px solid #ddd;}
.section_comparison .table_comparison th{background: #F7D6D6; border: 1px solid #FAB8B7; font-weight: 500;}
.section_comparison .table_comparison td{border: 1px solid #eee;}

.section_faq{padding: 120px 0;}
.accordion-list-box{width: 100%; padding-top: 20px; padding-bottom: 20px;}
.accordion-list-box .acc-item{position: relative;}
.acc-item .acc-head{display: block; position: relative; background: #fff; border-bottom: 1px solid #eee; padding: 40px 20px 10px;}
.acc-item .acc-head .heade-title{color: #E41D19; font-size: 16px; font-size: 1.6rem; font-weight: 400; margin: 0;}
.acc-item .acc-contents{display: block; position: relative; width: 100%; height: auto; background: #fff; border-bottom: 1px solid #eee; font-size: 16px; font-size: 1.6rem; font-weight:400; padding: 10px 55px 20px; margin-top: -1px; z-index: 99;}
.acc-item .style_q{font-weight: 800; letter-spacing: -1px; padding-right: 10px; vertical-align: middle;}
.acc-item .style_aw{border-left: 2px solid #E41D19; padding: 0 10px 5px 10px;}
.acc-item .style_aw p{line-height: 1.4; padding-bottom: 5px;}
.acc-item .style_aw p:last-child{padding-bottom: 0;}

/* popup style */
.layer_popup .popup_style_plus{border: 1px solid #e21d19; }
.layer_popup .popup_style_plus .popup_header .header-title .sub-title small{font-size: 13px; font-size: 1.3rem; font-weight: 300;}
.layer_popup .popup_style_plus .popup_content{position: relative; max-width:320px; margin: 0 auto;}
.layer_popup .popup_content .plus_function{text-align: left; margin-bottom: 40px;}
.layer_popup .popup_content .plus_function li{font-size: 15px; font-size:1.5rem; border:1px solid #E6E6E6; border-radius: 8px; margin-bottom: 20px; padding: 14px 14px; box-shadow:0px 2px 6px -3px rgba(0,0,0,0.3)}
.layer_popup .popup_content .plus_function li .icon_plus{float: left; width: 2.0rem; height: 2.0rem; vertical-align: middle; margin-right: 10px;}
.layer_popup .popup_content .plus_function li .icon_plus svg{width: 2.0rem; height: 2.0rem;}
.layer_popup .popup_content .plus_function li .text_icon{display: block; position: relative; overflow: hidden; top:1px;}
.complete_message{font-size: 16px; font-size:1.6rem; line-height: 1.6; padding-bottom: 20px;}
.download_banner p{font-weight: 500; padding: 5px 0;}
.download_banner .list_style{position: relative; overflow: hidden; width: 100%;}
.download_banner .list_style .img-list{display: flex; justify-content: center; align-items: center; border: 1px solid #ddd; margin-bottom: 5px; padding: 10px 10px;}
.download_banner .img-list .list_text{position: relative; float: left; width: 50%; vertical-align: middle; text-align: left;}
.download_banner .img-list .list_img{display: inline-block; width: 50%;}
.download_banner .img-list .list_img .img_banner{display: block; width: 100%; height: 44px;}

.layer_popup .popup_style_plus .content_table{max-width: 100%;}
.layer_popup .popup_style_plus .content_table p{font-size: 13px; font-size:1.3rem; padding:20px 10px 40px;}

/* radio button images */
.content-item .content-title{font-size: 16px; font-size:1.6rem; font-weight: 500; text-align: left;}
.form{display: grid; grid-template-columns: 48% 48%; grid-column-gap: 4%; margin: 20px 0 30px 0;}
.item_method{width: 15rem; height: 15rem;}
.item_method .btn_radio {display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 100%; background: #fff; color: #1C2729; font-size: 14px; font-size:1.4rem; font-weight: 400; text-align: center; border: 1px solid #ddd; border-radius: 5px; padding: 12px 12px; cursor: pointer;}
.item_method input[type="radio"] {display: none;}
.item_method input[type="radio"]:checked + .btn_radio {color: #e21d19; border: 3px solid #e21d19; padding: 10px 10px;}
.item_method .item_text{padding: 10px 0 0;}

/* footer */
.footer-section{text-align: center; border-top: 1px solid #f5f5f5; padding:20px 10px;}
.footer-section .policy-info a, .footer-section .office-info, .footer-section .copyright{color:#666; font-size:11px; font-size:1.1rem; line-height: 1.6;}
.footer-section .policy-info{padding-bottom: 8px;}
.footer-section .copyright{position: relative; padding-top:15px;}

/* floatBanner */
.float-box{position:fixed; width:108px; height: 140px; bottom:130px; right:20px; background-color:#d52719; border-radius: 10px; z-index: 100;}
.float-banner{position: relative; width:120px; height: 140px; text-align: center; cursor: pointer;}
.float-banner:hover{text-decoration: none;}
.banner-info{position: relative; width:80px; height: 80px; background: #fff; border-radius: 10px; margin: 10px auto; padding: 6px 5px;}
.banner-info .img-clipdown{width: 60px; margin: 0 auto;}
.banner-info .info-text{font-size: 14px; font-weight: 500; text-align: center; color: #333; padding:6px 0; text-decoration:none;}
.icon-download{position: relative; overflow: hidden;}
.icon-download .arrow span{color: #fff; text-decoration: none; padding-top: 0;}
.arrow {text-align: center; margin-top: 10px;}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/* Media Query */
@media screen and (max-width: 767px){
    .col-2{width: 100%;}
    .btn-lg{max-width: 210px; font-size: 16px; padding: 8px 16px 5px 16px;}
    .head-title h1{font-size: 34px; font-size: 3.4rem;}
    .float_banner .plus_status .content_headline .plus_des{font-size: 16px; font-size: 1.6rem;}
    .section_main{padding: 20px 0 60px;}
    .section_main .head-title h1{font-size: 38px; font-size: 3.8rem;}
    .section_main .head-title .point-text{font-size: 40px; font-size: 4.0rem;}
    .section_main .main-intro .intro_des .item_des{display:block; line-height: 1.8;}
    .section_main .main-intro .intro_des .item_des:before{display:none;}
    .section_main .main-intro .img_top_main{width: 90%}
    .section_intro, .section_comparison, .section_faq{padding:60px 0;}
    .section_intro .content_item{padding:20px 0;}
    .section_intro .content_item .item_des{font-size: 18px; font-size: 1.8rem; text-align: center;}
    .section_intro .content_item .item_des .item-point{font-size: 20px; font-size: 2.0rem;}
    .section_intro .content_item .img_intro{width: 65%;}
    .section_intro .content_item.item_03 .item_des{padding-top: 40px;}
    .contents_table table th, td{font-size: 14px; font-size: 1.4rem; padding: 10px 12px;}
    .contents_table .icon-circle{width: 10px; height: 10px;}
    .float-box{display: none;}

}

@media screen and (max-width: 480px){
    .btn-lg{font-size: 14px; padding: 10px 16px 6px 16px;}
    .float_banner .plus_status{text-align: center; padding: 10px 0;}
    .float_banner .plus_status .col-md-6{width: 100%;}
    .float_banner .plus_status .btn_state_plus{text-align: center;}
    .container{min-width:320px; padding: 0 10px;}
    .head-title{padding: 20px 0;}
    .head-title h1{font-size: 20px; font-size: 2.0rem;}
    .contents_table{padding: 10px 0 10px;}
    .section_main .head-title h1{font-size: 24px; font-size: 2.4rem;}
    .section_main .head-title{padding: 0 0 20px;}
    .section_main .head-title .point-text{font-size: 28px; font-size: 2.8rem;}
    .section_main .main-intro .intro_des{font-size: 16px; font-size: 1.6rem; padding: 10px 0;}
    .section_main .main-intro .img_top_main{padding-top:20px;}
    .section_intro, .section_comparison, .section_faq{padding: 40px 0;}
    .section_intro .content_item .img_intro{width: 80%;}
    .section_intro .content_item .item_des{font-size: 14px; font-size: 1.4rem; padding: 20px 0;}
    .section_intro .content_item .item_des .item-point{font-size: 18px; font-size: 1.8rem;}
    .contents_table table th, td{font-size: 13px; font-size: 1.3rem; padding: 10px 5px;}
    .accordion-list-box{padding-top: 10px; padding-bottom: 10px;}
    .acc-item .acc-head{padding: 10px 10px 10px;}
    .acc-item .acc-head .heade-title{font-size: 14px; font-size: 1.4rem;}
    .acc-item .acc-contents{padding: 5px 10px 10px;}
    .acc-item .style_aw{font-size: 143px; font-size: 1.3rem;}
    .layer_popup .popup_content .plus_function{margin-bottom: 20px;}
    .layer_popup .popup_content .plus_function li{margin-bottom: 10px !important; padding: 10px 10px !important;}
    .layer_popup .popup_content .plus_function li .icon_plus{font-size: 1.8rem; font-size: 1.8rem;}
    .layer_popup .popup_content .plus_function li .text_icon{font-size: 13px; font-size: 1.3rem; }
    .item_method{width: 13rem; height: 13rem;}
    .item_method .item_text{padding: 0 !important;}
    .complete_message{font-size: 14px; font-size: 1.4rem;}
    .download_banner p{font-size: 12px; font-size: 1.2rem; }
    .download_banner .img-list .list_text{font-size: 13px; font-size: 1.3rem; }
    .download_banner .img-list .list_img .img_banner{height: 38px !important;}
    .content_info_message .text_message p{font-size: 13px; font-size: 1.3rem; line-height: 1.3; }
    .layer_popup .style_alert .btn_alert .guide-area{position: relative; text-align: right !important; padding: 8px 0;}
}


/* IE6,7,9,10 */
@media screen and (min-width: 640px), screen\9 {
    /* Enter your style code */
}


/* webview style join-info */
.webview_box.sytle_join-info{height: unset;}
.sytle_join-info .contet-header{padding: 15px 0;}
.sytle_join-info .contet-header h1{font-size: 24px; font-size: 2.4rem; font-weight: 700;}
.sytle_join-info .contet-header h1 .text_en{position: relative; vertical-align: middle; font-size: 27px; font-size: 2.7rem;}
.sytle_join-info .contents{padding: 15px 0;}
.sytle_join-info .contents .info_contet{font-weight: 500; text-align: center; line-height: 1.6;}
.sytle_join-info .list_info-feature{background: #f8f8f8; border-radius: 10px; margin: 30px 0; padding: 10px 10px;}
.sytle_join-info .list_info-feature ul{position: relative;}
.sytle_join-info .list_info-feature ul .list_item{display: inline-block; padding:0 5px;}
.sytle_join-info .list_info-feature ul .list_item .text_img{position: relative; overflow: hidden; width: 100%; max-width: 80px; height: 80px; background: #fff; border-radius: 50%; margin: 0 auto;}
.sytle_join-info .list_info-feature ul .list_item .text_img.icon_size svg{max-width: 60px;}
.sytle_join-info .list_info-feature ul .list_item .item_text{font-size:13px; font-size: 1.3rem; font-weight: 500; padding: 10px 0;}
.sytle_join-info .btn_point_full{width: 100%; background: #e21d19; color:#fff; font-size:16px; font-size: 1.6rem; padding: 12px 20px;}
.sytle_join-info .btn_point_full:hover{background: #de0e0a;}
.webview_box.sytle_join-info_img{height: unset;}
.webview_item_img{height: unset; padding: 30px 0 0; background: #FFEFF0;}
.webview_item_img .contents{padding-bottom: 20px;}
.webview_item_img .btn-box .btn_full_clipdonwplus{display: block; width: 100%; background: #F24028; color: #fff; font-size:20px; font-size:2.0rem; font-weight: 500; padding: 15px 20px;}
.webview_item_img .btn-box .btn_full_clipdonwplus:hover{background: #e21d19; text-decoration: none;}

