<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Demystifying Email Design</title>
    </head>
    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td align="center"><!-- 상단로고 -->
                        <table border="0" cellpadding="0" cellspacing="0" width="800">
                            <tbody>
                                <tr>
                                    <td height="44" style="text-align:left; vertical-align:bottom;">
                                        <a href="http://www.clipdown.co.kr/" target="_blank" rel="noreferrer noopener">
                                            <img alt="clipdown" border="0" width="80" src="http://www.clipdown.net/common_resource/images/logo_clipdown.png" loading="lazy">
                                        </a>
                                    </td>
                                    <td style="text-align:right; font-weight:bold; font-size:14px; vertical-align:bottom">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="16">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- //상단로고 --><!-- 비마케팅 문구 -->
                        <table border="0" cellpadding="0" cellspacing="0" width="800">
                            <tbody>
                                <tr>
                                    <td width="800">
                                        <img src="http://www.bccard.com/images/email/normal/mail_20230105_02.jpg" loading="lazy">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="35">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--// 비마케팅 문구 --><!-- 메일내용 -->
                        <table border="0" cellpadding="0" cellspacing="0" width="740">
                            <tbody>
                                <tr>
                                    <td align="left" style="font-size:14px; line-height:22px; font-weight:normal; color:#343434;">
                                        2023년 3월 중 비씨카드 휴대폰메시지서비스 가입 회원을 대상으로 카드를 사용하면<br>
                                        페이북 앱 알림(PUSH)을 함께 보내 드리기 위해 준비중입니다.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:14px; line-height:22px; font-weight:normal; color:#343434;">사용 금액은 아래에 작게 나오고, 사용처는 보이지도 않아 불편했던 문자!</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:14px; line-height:22px; font-weight:bold; color:#5d67cf;">이제 페이북 앱 알림이 필요한 정보만 빨리 챙겨 드릴게요.</td>
                                </tr>
                                <tr>
                                    <td height="60">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="740">
                                        <img src="http://www.bccard.com/images/email/normal/mail_20230105_01.png" loading="lazy">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="60">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:14px; line-height:22px; font-weight:normal; color:#343434;">
                                        <p>페이북 앱 알림(PUSH)에서는 기존 문자 메시지에서 한 눈에 보기 어려웠던 사용처와 금액에 대한 정보를 상단에 배치하여 수신 즉시 쉽고 빠르게 확인할 수 있도록 디자인 했습니다. 또한, 사용 정보 아래에 카드 사용과 관련한 유용한 정보를 함께 드릴 예정이니 많은 기대 부탁드립니다.</p>
                                        <p>*법인카드와 5만원 무료 알림 서비스는 대상에서 제외됩니다.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:14px; line-height:22px; font-weight:normal; color:#343434;">
                                        앞으로도 보다 더 나은 서비스를 위해 항상 최선을 다하겠습니다.<br>
                                        감사합니다.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="60">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- //메일내용 --><!-- 바로가기 -->
                        <table border="0" cellpadding="0" cellspacing="0" style="border-top:1px solid #000; background-color: #f9fafc;" width="800">
                            <tbody>
                                <tr>
                                    <td style="padding:20px; text-align: left; color:#343434; font-size: 14px; line-height:22px; font-weight: bold; vertical-align: middle;">&nbsp; 
                                        <a href="http://211.181.254.85/Check_tms.html?TV9JRD00Njc0ODg=&amp;U1RZUEU9Q0FNUA==&amp;p_id=2023012000007&amp;m_id=467488&amp;s_tp=MASS&amp;TElTVF9UQUJMRT1UTVNfRU1BSUxfTElTVF8wMQ==&amp;UE9TVF9JRD0yMDIzMDEyMDAwMDA3&amp;U0VSVkVSX0lEPTAz&amp;VEM9MjAyMzAyMDI=&amp;S0lORD1D&amp;Q0lEPTAwMg==&amp;c_id=002&amp;URL=https://www.bccard.com/app/card/CstmrCentSubmain.do" style="color: rgb(51, 51, 51); text-decoration: none;" target="_blank" rel="noreferrer noopener"> 고객센터</a>
                                    </td>
                                    <td style="padding: 10px 20px 10px 0px; text-align: right;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--// 바로가기 --><!-- 푸터 -->
                        <table border="0" cellpadding="0" cellspacing="0" width="800">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" style="text-align:left; margin:20px 0;" width="740">
                                            <tbody>
                                                <tr>
                                                    <td style="color:#666; font-size:14px; line-height:22px; text-align:left;">본 메일은 발신 전용 메일입니다.<br>
                                                        메일 관련 문의사항은 <a href="http://211.181.254.85/Check_tms.html?TV9JRD00Njc0ODg=&amp;U1RZUEU9Q0FNUA==&amp;p_id=2023012000007&amp;m_id=467488&amp;s_tp=MASS&amp;TElTVF9UQUJMRT1UTVNfRU1BSUxfTElTVF8wMQ==&amp;UE9TVF9JRD0yMDIzMDEyMDAwMDA3&amp;U0VSVkVSX0lEPTAz&amp;VEM9MjAyMzAyMDI=&amp;S0lORD1D&amp;Q0lEPTAwMw==&amp;c_id=003&amp;URL=https://www.bccard.com/app/card/CstmrCentSubmain.do" style="font-weight:bold; text-decoration:underline;color:#333;" target="_blank" rel="noreferrer noopener">고객상담센터</a>로 문의해 주시기 바랍니다.
                                                    </td>
                                                    <td valign="top" style="vertical-align:top; text-align:right;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="800">
                            <tbody>
                                <tr>
                                    <td align="center" style="border-top:1px dashed #ddd;">
                                        <table border="0" cellpadding="0" cellspacing="0" style="text-align:left; padding:20px 0 30px;" width="740">
                                            <tbody>
                                                <tr>
                                                    <td style="color:#666;font-size:12px;line-height:20px;">
                                                        (주)제이스퓨처 ㅣ 경기도 과천시 양지마을 1로 29,(그리심, 2층) ㅣ 이메일 <a href="mailto:webmaster@jsfuture.co.kr" style="color:#666;text-decoration:underline;" rel="noreferrer noopener" target="_blank">webmaster@jsfuture.co.kr</a><br>
                                                        대표이사 장영호 ㅣ 사업자번호 350-87-00231
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- //푸터 -->
                    </td>
                </tr>
            </tbody>
        </table>
    </body>    
</html>